#discover-menu-icons {
  position: absolute;
  top: 5px;
  right: 0;

  @media (max-width: 768px) {
    right: 15px;
  }

  .filters {
    font-weight: 400;
    margin-left: 10px;
    color: $primary;

    &:hover {
      color: $dark-primary;
      cursor: pointer;
    }
  }
}
