.event-list {
  padding: 5px 15px;

  .day-header {
    font-size: 10pt;
    color: #4990E2;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 10px 0;

    &:before {
      border-top: 1px solid $light-grey;
      content: '';
      position: absolute;
      margin: 0 auto;
      top: 50%; left: 0; right: 0; bottom: 0;
      z-index: -1;
    }

    span {
      background: $white;
      padding: 0 10px;
    }
  }

  .event {
    padding: 10px 0;
    border-bottom: 1px solid $border-grey;
    overflow: hidden;

    .left {
      float: left;
      width: calc(100% - 70px);

      .title {
        color: $black;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }

      .location {
        transition: all 0.2s ease-in-out;
        color: $grey;
        font-weight: 200;
      }
    }

    .right {
      transition: all 0.2s ease-in-out;
      float: right;
      color: $grey;

      .time {

      }

      .all-day {

      }

      .all-day-with-location {
        margin-top: 12px;
      }
    }

    &:hover {
      cursor: pointer;

      .left {
        .title {
          color: $primary;
        }

        .location {
          color: $primary;
        }
      }

      .right {
        color: $primary;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}