.new-discover-item-content-wrapper {
  padding: 40px 10px 10px 10px;

  @media (min-width: 500px) {
    padding-top: 45px;
  }

  @media (min-width: 640px) {
    padding-top: 50px;
  }

  @media (min-width: 720px) {
    padding-top: 55px;
  }

  @media (min-width: 840px) {
    padding-top: 60px;
  }

  @media (min-width: 920px) {
    padding-top: 65px;
  }

  &:hover {
    cursor: pointer;
  }

  .new-discover-content-row {
    clear: both;
    overflow: hidden;

    .left {
      display: inline-block;
      color: $grey;
    }

    .title-wrapper {
      max-width: calc(100% - 80px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .username-wrapper {
      .username-link {
        font-weight: 400;
      }
    }

    .right {
      float: right;
      color: $grey;
    }

    .distance-wrapper {
      width: 80px;
      text-align: right;
    }

    .dock-wrapper {
      .dock {
        margin-right: 0 !important;

        .dock-action-output-wrapper {
          .counter {
            padding-right: 5px;
          }
        }
      }
    }
  }
}