.view-feed {
  margin: 15px auto;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .add-comment {
    margin-bottom: 10px;
  }
}

.empty-feed {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 12pt;
  text-align: center;
  color: $grey;

  .buttons {
    margin-top: 20px;

    .dockit-button {
      width: 200px;
    }
  }
}
