.menu {
  position: absolute;
  right: 10px;
  padding: 12px 0 0 25px;

  .dropdown {
    button {
      background: none;
      border: none;
      color: $grey;

      .caret {
        display: none;
      }
    }

    .dropdown-toggle.btn-default:hover {
      background: none;
    }

    .btn-default {
      background: none;
      background-color: transparent;

      &:focus {
        background: none;
        background-color: transparent;
      }
    }

    button:focus {
      background: none;
      border: none;
      color: $grey;

      .caret {
        display: none;
      }
    }

    .dropdown-menu {
      box-shadow: none;
      border-radius: 3px;
      left: -20px;
      top: 28px;
      min-width: 0;
      background: #ffffff;
      border: 1px solid #2A88F8;

      &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
      }

      &:before {
        border-color: rgba(155, 155, 155, 0);
        border-bottom-color: #2A88F8;
        border-width: 11px;
        margin-left: -11px;
      }

      li {
        a {
          font-size: 12pt;
          font-weight: 300;

          &:hover, &:focus {
            font-size: 12pt;
            font-weight: 300;
            background: none;
            color: $primary;
            outline: none;
          }
        }
      }
    }
  }
}
