@import 'info/index';

.creation-item-show {
  position: relative;

  .comments {
    margin: 15px 0 15px 0;
  }

  .repeat {
    margin: 10px 0;
    color: $grey
  }

  .comments-block {
    .add-comment {
      .create-comment-wrapper {
        .create-comment-inner-wrapper {
          position: relative;
        }
      }
    }
  }
}

.creation-details-private-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        text-align: center;
        padding: 20px 15px;
      }

      .modal-footer {
        padding: 15px;
      }
    }
  }
}
