.data {
  position: relative;

  .expandable-text {
    font-size: $font-size;
    //line-height: $line-height;
    //-webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .expand-text {
    color: $primary;
    font-weight: 400;

    &:hover {
      color: $dark-primary;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .collapsed {
    //display: block; /* Fallback for non-webkit */
    //display: -webkit-box;
    //height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  }
}

.no-top-padding {
  padding-top: 0 !important;
}
