.creation-editing-container {
  form {
    margin-bottom: 0;

    .event-updating-fields-wrapper {
      background: $white;
      border-left: 1px solid $white;
      border-right: 1px solid $white;
      padding: 15px 20px 20px 20px;

      .form-group {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 1px solid $grey;

        &:last-child {
          border-bottom: none;
        }
      }

      .form-group-error {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 1px solid $error;
      }

      .input {
        border-radius: 0;
        padding-left: 0;
        margin-bottom: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        border: none;
        font-size: 12pt;
      }

      .no-border {
        border: none;
      }

      .empty-row {
        height: 39px;
        width: 100%;
      }

      .center {
        text-align: center;
      }

      .permissions {
        padding-bottom: 5px;
        padding-top: 5px;
      }

      .margin-top {
        margin-top: 20px;
      }

      .invite-people-row {
        line-height: 41px;
        font-size: 12pt;
        border-bottom: none;

        &:hover {
          color: $primary;
          cursor: pointer;

          .chevron-wrapper {
            color: $primary;
          }
        }

        .label-text {
          font-weight: 500;
        }

        .chevron-wrapper {
          float: right;
          padding: 13px 0;
          color: $grey;
        }
      }

      .btn {
        font-size: 12pt;
        font-weight: 100;
        letter-spacing: 1px;
        padding: 3px 0;
        width: 100px;

        &:focus {
          outline: none;
        }
      }

      .btn-create {
        margin-right: 10px;
        border-radius: 40px;
        box-shadow: none;
        background: $primary;
        color: $white;
        border: 1px solid $primary;

        &:hover {
          background: $dark-primary;
          border: 1px solid $dark-primary;
        }
      }

      .btn-cancel {
        border-radius: 40px;
        background: none;
        box-shadow: none;
        color: $grey;
        border: 1px solid $grey;

        &:hover {
          background: $grey;
          color: $white;
          border: 1px solid $grey;
        }
      }
    }
  }
}
