.dockit-image-crop {
  position: fixed;
  width: 100%;
  height: calc(100% - 136px);
  overflow: hidden;
  top: -4px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);

  .cropper {
    z-index: 20;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .cropper-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .navbar {
    opacity: 0.9;
    text-align: center;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar {
    background: $white;
    border: none;
    min-height: 65px;

    .navbar-nav {
      margin: 0;

      .cancel-btn {
        background-color: $red !important;
        border-radius: 40px;
        margin-left: 20px;

        &:hover {
          a {
            border-radius: 40px;
            background-color: $dark-red !important;
            color: $white !important;
          }
        }
      }

      .apply-btn{
        border-radius: 40px;

        &:hover {
          a {
            border-radius: 40px;
          }
        }
      }

      li {
        display: inline-block;
        background: $primary;
        color: $white;
        margin: 10px;

        &:hover {
          a {
            color: $white;
            cursor: pointer;
            background: $dark-primary;
          }
        }

        a {
          min-width: 145px !important;
          font-size: 1.3em;
          padding: 8px 5px;
        }
      }
    }
  }
}