.request-item {
  border-bottom: 1px solid $light-grey;

  &:last-child {
    border-bottom: none;
  }

  .content {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .flexible {
      display: flex;
    }

    .request-content {
      width: 100%;
      padding: 7px 5px;
      align-items: center;

      .default-wrapper {
        width: calc(100% - 60px);

        .left {
          float: left;

          .event-member-image-wrapper {
            width: 40px;
            height: 40px;
            margin: 0 10px 0 0;

            @media (max-width: 768px) {
              width: 25px;
              height: 25px;
            }
          }
        }

        .request-text {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-top: 10px;

          @media (max-width: 768px) {
            padding-top: 3px;
          }
        }
      }

      .accept-block {
        margin-left: auto;
        margin-right: 0;

        .accept, .reject {
          &:hover {
            cursor: pointer;
          }
        }

        .accept {
          width: 15px;
          height: 15px;
        }

        .reject {
          margin-right: 15px;
          width: 13px;
          height: 13px;
        }

        .accepted {
          width: 18px;
          height: 18px;
        }
      }

      .intent-panel {
        .btn-container {
          .dockit-button-wrapper {
            border-width: 1px;

            .dockit-button {
              letter-spacing: 1px;
            }
          }
        }
      }

      .btn-list {
        margin-right: 3px;
      }
    }
  }
}