@import 'categories/index';
@import 'range/index';
@import 'date/index';

#discover-filters {
  width: 500px;
  max-width: 100%;
  margin: 20px auto 0 auto;
  font-size: 12pt;

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  .dockit-location-select-wrapper {
    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;

    .location-select-input-wrapper {
      .location-select-input {
        background: none;
        color: $primary;

        &::-webkit-input-placeholder { color: $primary; }
        &::-moz-placeholder          { color: $primary; }
        &:-ms-input-placeholder      { color: $primary; }
      }
    }
  }

  .discover-filters-clear {
    border-top: 1px solid $border-grey;
    padding: 8px 0;

    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}
