.get-the-app-bar {
  background: $primary;
  color: white;
  clear: both;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  .text-wrapper {
    float: left;
    margin: 5px;

    .text {
      text-align: left;
    }
  }

  .get-app-text {
    float: right;
    border: 1px solid #FFFFFF;
    padding: 0 10px;
    border-radius: 40px;
    margin: 14px 10px 14px 0;
    letter-spacing: 2px;
  }
}
