.view-repeat {
  .ends-section {
    position: relative;
    z-index: 15;
  }

  .show {
    display: block !important;
  }

  .hide {
    display: none !important;
  }

  .blocked-repeat {
    font-weight: 400;
    background: $lightest-grey;
  }

  .repeat {
    font-size: 12pt;
    height: 38px;

    .title {
      margin-top: 7px;
      float: left;
      width: 50%;
    }

    .select-dropdown {
      float: right;
      width: 50%;

      .Select-value {
        .Select-value-label {
          float: right !important;
          color: $dark-grey !important;
        }
      }

      .Select-menu-outer {
        z-index: 20;
        border: 1px solid $light-grey;
      }
    }
  }

  .common-data-title {
    font-size: 12pt;
    font-weight: 200;
  }

  .calendar-wrapper {
    text-align: center;

    #calendar-dropdown {
      display: inline-block;

      .date-input {
        width: 100px;
      }
    }
  }

  .day-errors {
    .checkbox {
      label {
        color: $error;
      }
    }
  }
}
