.profile-activity-modal {
  .modal-dialog {
    overflow-y: initial !important;

    .modal-content {
      border-radius: 3px;
      box-shadow: none;
      -webkit-box-shadow: none;
      border: 1px solid $border-grey;

      .modal-header {
        .modal-title {
          font-weight: 400;
        }
      }
    }
  }

  .modal-body {
    min-height: 50%;
    max-height: 70%;
    overflow-y: auto;
  }
}