.date-time-selector {
  height: 40px;
  padding-bottom: 4px;
  padding-top: 7px;
  font-weight: 300;
  font-size: 12pt;

  label {
    font-weight: 500;
  }

  input {
    background: none;
    border: none;
  }

  input:focus {
    outline: none;
  }

  .date-block {
    float: left;

    .date-label {
      width: 50px;
    }

    #calendar-dropdown {
      display: inline-block;

      .date-input {
        width: 100px;
      }
    }
  }

  .time-block {
    float: right;

    .time-label {
      width: 50px;
    }

    .time-input {
      width: 90px;
      text-align: right;
      float: right;

      &::-webkit-clear-button {
        display: none;
      }

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .show {
    display: block !important;
  }

  .hide {
    display: none !important;
  }
}

.error-text {
  color: $error;
}