.view-reports {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  font-size: 12pt;

  .text {
    border: 1px solid black;

    textarea {
      background: $white;
    }
  }

  .buttons {
    margin: 20px 0;

    .dockit-button {
      border-radius: 50px;
      padding: 8px 30px;
    }
  }
}