.users-menu {
  padding: 15px 15px 0 25px;
  float: right;
  color: $primary;

  &:hover {
    cursor: pointer;
  }

  .users-menu-icon {
    width: 20px;
    height: 20px;
    margin: auto !important;
    padding: 0 !important;
  }

  .add-icon {

  }

  .pending-icon {

  }

  .reject-icon {

  }
}
