.terms-wrapper {
  position: absolute;
  width: 100%;

  .terms {
    text-align: justify;
    font-size: 12pt;
    font-weight: 300;

    a {
      font-weight: 400;
    }

    b {
      font-weight: 400;
    }

    h2 {
      font-weight: 500;
    }

    h3 {
      font-weight: 500;
    }

    h4 {
      margin-top: 21px;
      margin-bottom: 10.5px;
      font-weight: 500;
      padding-bottom: 2px;
      font-size: 20px;
      color: $dark-grey;
    }

    ol {
      list-style-type: disc;

      li {
        margin-bottom: 10px;
      }
    }

    .copyright {
      margin-bottom: 20px;
    }
  }
}
