#calendar-dropdown {
  position: relative;
  display: block;

  .date-input {
    width: 100px;

    &:hover {
      cursor: pointer;
    }
  }

  .calendar {
    position: absolute;
    background: $white;
    border: 1px solid $border-grey;
    border-radius: 3px;
    z-index: 9;
    -webkit-animation: fadeIn .3s;
    animation: fadeIn .3s;

    @-webkit-keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    .month {
      width: calc(7 * 47px);
      margin: 20px;

      .header {
        font-size: 14pt;
        font-weight: 700;
        text-align: center;
        padding-bottom: 20px;
        cursor: default;
        color: $black;

        .text {

        }

        .arrow {
          margin: 6px 4px;

          &:hover {
            color: $primary;
            cursor: pointer;
          }
        }

        .left {
          float: left;
        }

        .right {
          float: right;
        }
      }

      .weekdays {
        .weekday {
          display: inline-block;
          color: $grey;
          width: 47px;
          cursor: default;
          text-align: center;
          font-size: 11pt;
        }
      }

      .days {
        .day {
          color: $black;
          position: relative;
          display: inline-block;
          width: 48px;
          height: 48px;
          background: $white;
          padding-top: 12px;
          clear: both;
          overflow: hidden;
          border: 1px solid $border-grey;
          text-align: center;
          margin-right: -1px;
          margin-bottom: -1px;
          z-index: 5;

          &:hover {
            cursor: pointer;
          }
        }

        .empty-day {
          position: relative;
          display: inline-block;
          width: 47px;
          background: $white;
          clear: both;
          overflow: hidden;
          z-index: 3;
        }

        .passed {
          color: $grey;
        }

        .selected {
          color: $primary;
          font-weight: 500;
        }
      }
    }
  }

  .always-visible {
    position: relative !important;

    @media(min-width: 768px) {
      .month {
        width: calc(7 * 60px);

        .weekdays {
          .weekday {
            width: 60px;
          }
        }

        .days {
          .day {
            width: 61px;
            height: 61px;
            padding-top: 18px;
          }

          .empty-day {
            width: 60px;
          }
        }
      }
    }

    @media(min-width: 1200px) {
      .month {
        width: calc(7 * 73px);

        .weekdays {
          .weekday {
            width: 73px;
          }
        }

        .days {
          .day {
            width: 74px;
            height: 74px;
            padding-top: 24px;
          }

          .empty-day {
            width: 73px;
          }
        }
      }
    }
  }
}
