.date-time-selector {
  display: flex;
  flex-flow: wrap;
  height: 40px;
  padding-bottom: 4px;
  padding-top: 7px;
  font-weight: 300;
  font-size: 12pt;

  label {
    font-weight: 500;
    margin-bottom: 0 !important;
  }

  input {
    background: none;
    border: none;
  }

  input:focus {
    outline: none;
  }

  .date-block {
    flex: 0 0 50%;

    .date-label {
      font-size: 16px;
      width: 50px;
    }

    #calendar-dropdown {
      display: inline-block;

      .date-input {
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
    }
  }

  .time-block {
    flex: 0 0 50%;

    .time-label {
      float: right;
      font-size: 16px;
      padding-right: 10px;
    }

    .time-input {
      font-size: 16px;
      text-align: right;
      float: right;
      max-width: 100px;
      margin: 0;
      padding: 0;

      &::-webkit-clear-button {
        display: none;
      }

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .show {
    display: block !important;
  }

  .hide {
    display: none !important;
  }
}

.error-text {
  color: $error;
}