@import 'icons/index';

#discover-menu {
  position: relative;
  display: block;
  width: 500px;
  max-width: 100%;
  margin: 5px auto;
  text-align: center;

  .discover-menu-item {
    display: inline-block;
    border-right: 1px solid $border-grey;
    padding: 5px 15px;
    font-weight: 400;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: $primary;
      cursor: pointer;
    }

    &:last-of-type {
      border-right: none;
    }
  }

  .active {
    color: $primary;
  }
}
