@import 'modals/modals';

.profile-activity {
  text-align: center;
  margin: 10px 0;

  .profile-activity-item {
    color: $black;
    text-decoration: none;

    .value {
      color: $grey;
    }
  }

  .hoverable {
    &:hover {
      color: $primary;
      cursor: pointer;

      .value {
        color: $primary;
      }
    }
  }

  .col-xs-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .activity-label {
    font-weight: 400;
  }
}