.radio-toggle {
  background-color: $white;
  width: 45px;
  height: 27px;
  border: solid 2px #D8D8D8;
  border-radius: 13.5px;
  position: relative;

  transition: all 200ms ease;

  .radio-switch {
    position: absolute;
    height: 27px;
    width: 27px;
    border: solid 1px #D8D8D8;
    border-radius: 13.5px;
    background-color: $white;
    margin-top: -2px;
    outline: none;
    left: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
                0 1px 0 rgba(0, 0, 0, 0.3);

    transition: all 200ms ease;
  }

  &.on {
    background-color: #F5F5F5;

    .radio-switch {
      left: 14px;
    }
  }
}