@import './done-button/index';

.modal-open .modal {
  display: block;

  .modal-dialog {
    overflow-y: initial !important;

    .modal-content {
      border-radius: 3px;
      box-shadow: none;
      -webkit-box-shadow: none;
      border: 1px solid $border-grey;

      .modal-header {
        .modal-title {
          float: left;
          font-weight: 400;
        }
      }
    }
  }

  .modal-body {
    max-height: 70%;
    overflow-y: auto;
    padding: 0;
  }
}
