@import 'notifications/notification-item/notification-item';
@import 'requests/request-item/request-item';

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  .nav-block {
    display: flex;
    justify-content: space-around;

    .link-wrapper {
      border-right: 1px solid $grey;
      display: block;
      margin-top: 10px;
      position: relative;

      &:last-child {
        border-right: none;
      }

      a {
        padding: 7px 30px;
        width : 100%;
        min-width: 150px;
        text-align: center;
        line-height: 35px;
        text-decoration: none;
        transition: all 0.2s linear;
        color: $grey;
        font-size: 12pt;

        &:hover {
          color: $primary;
        }
      }

      .active {
        border-bottom: 4px solid $primary;
      }

      .notifications-marker {
        position: absolute;
        right: 5px;
        top: 1px;
      }
    }
  }

  .notifications-wrapper, .requests-wrapper {
    margin-top: 10px;
    background: $white;
    width: 100%;
  }

  .wrapper-border {
    border: 1px solid $border-grey;
    border-radius: 4px;
  }
}