.add-comment {
  width: 100%;

  .edit-comment-wrapper {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 4px;
    border: 1px solid #dcdcdc;

    .edit-comment-inner-wrapper {
      padding: 10px;

      .left {
        float: left;

        .event-member-image-wrapper {
          width: 35px;
          height: 35px;

          @media (max-width: 480px) {
            width: 25px;
            height: 25px;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        .comment-picture-upload-input {
          display: none !important;
        }

        .picture-upload-btn {
          display: block;
          width: 22px;
          height: 18px;
          padding: 2px;
          margin-right: 5px;
        }

        .edit-comment-btn {
          background-color: $light-grey;
          border: none;
          width: 54px;
          height: 22px;
          font-size: 10pt;
          font-weight: 200;
          line-height: 22px;
          color: $white;
          border-radius: 16px;
          padding: 0;
          transition: all 0.2s ease-in-out;

          &:hover {
            cursor: default;
          }

          &:focus {
            border: 0 !important;
            outline: none;
          }
        }

        .active {
          background-color: $primary;

          &:hover {
            background-color: $dark-primary;
            cursor: pointer;
          }
        }

        .comment-area {
          margin: 0 10px;
          font-size: 14px;
          resize: none;
          width: 100%;
          border-radius: 4px;
          border: none;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .attached-image {
      .attached-image-show {
        max-width: 25% !important;
      }
    }
  }
}
