#invite-modal-wrapper {
  .modal-dialog {
    .modal-content {
      .modal-header {

      }

      .modal-body {
        min-height: 200px;

        .invite-modal-search {
          border-bottom: 1px solid $light-grey;

          input {
            padding: 10px;
            border: none;
            outline: none;

            &:active {
              border: none;
              outline: none;
            }
          }
        }

        .invite-people-modal-items-list {
          padding: 10px 15px;

          .invite-people-modal-items {
            &:first-child {
              .list-symbol {
                margin-top: 0;
              }
            }

            .list-symbol {
              font-weight: 500;
              color: $primary;
              margin-top: 10px;
            }

            .invite-people-modal-items-part {
              .invite-people-modal-item {
                padding: 10px 0;
                clear: both;
                overflow: hidden;
                border-bottom: 1px solid $light-grey;
                color: $black;

                &:first-child {
                  padding: 5px 0 10px 0;
                }

                &:hover {
                  cursor: pointer;
                  color: $primary;
                }

                &:last-child {
                  border-bottom: none;
                }

                .image-wrapper {
                  float: left;
                  border-radius: 40px;
                  overflow: hidden;
                  margin-right: 10px;

                  img {
                    width: 40px;
                    height: 40px;
                  }
                }

                .person-data {
                  float: left;

                  .person-name {

                  }

                  .person-username {
                    color: $primary;
                    font-weight: 400;
                  }
                }

                .checked-icon {
                  float: right;

                  img {
                    height: 15px;
                    margin: 12px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
