.success-password-reset-wrapper {
  position: relative;
  font-size: 12pt;
  min-height: 400px;
  height: calc(100% - 72px);

  .success-password-reset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .success {
      color: $darkest-grey;
    }

    .text {
      color: $dark-grey;
    }
  }
}
