.dockit-location-select-wrapper {
  position: relative;
  border-bottom: 1px solid $dark-grey;

  .location-select-input-wrapper {
    .location-select-input {
      width: 100%;
      font-size: 16px;
      padding: 8px 0;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:focus {
        outline: none;
      }
    }
  }

  .location-select-options-wrapper {
    position: absolute;
    background: $white;
    border: 1px solid $light-grey;
    z-index: 999999;
    width: 100%;

    .location-select-options-placeholder {
      color: $grey;
      padding: 8px 5px;
    }

    .location-select-option {
      padding: 8px 5px;

      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }

    .location-select-option-focused {
      background: $lightest-grey;
    }
  }
}
