@import '../../../shared-components/auth/login/login';

.home {
  min-height: calc(100% - 72px);
  position: relative;
  padding-top: 30px;
  padding-bottom: 120px;

  .top {
    margin-top: 25px;

    .brand {
      float: left;

      img {
        width: 180px;
      }
    }

    .buttons {
      float: right;

      .dockit-button {
        margin-left: 20px;
        border-radius: 50px;
        padding: 8px 30px;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  #lg-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .lg-youtube-video-wrapper { }

    .lg-login-wrapper {
      width: 25%;
      margin-left: 20px;
    }
  }




  .center-row {
    .center-container { }

    .home-sm-wrapper {
      text-align: center;

      .sign-in-container {
        margin: 0 auto;
        max-width: 400px;
      }

      .youtube-container {
        margin-top: 30px;
        text-align: center;

        iframe {

        }
      }

      .download-button-wrapper {
        margin-top: 30px;

        .download-app {
          .download-text {
            font-size: 16pt;
          }

          a {
            display: block;
            margin-top: 10px;

            &:first-child {
              margin-top: 0;

              img {
                width: 202px;
              }
            }

            img {}
          }
        }
      }
    }

    .home-xs-wrapper {
      text-align: center;

      .phones-preview {
        width: 50%;
        margin-bottom: 40px;
      }

      .sign-in-container {
        margin: 0 auto;
        width: 400px;
        max-width: 100%;
      }

      .youtube-container {
        display: block;
        margin-top: 30px;
        text-align: center;
        border-radius: 0;

        iframe {}
      }

      .download-button-wrapper {
        margin-top: 30px;

        .download-app {
          .download-text {
            font-size: 16pt;
          }

          .download-buttons-wrapper {
            a {
              display: block;
              margin-top: 10px;

              &:first-child {
                margin-top: 0;

                img {
                  width: 202px;
                }
              }

              img {}
            }
          }
        }
      }
    }
  }

  .youtube-container {
    display: inline-block;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid lightgrey;

    iframe {

    }
  }

  .never-miss-words {
    font-size: 30pt;
    color: $primary;
    cursor: default;
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      font-size: 22pt;
    }

    @media (max-width: 740px) {
      font-size: 18pt;

      .word {
        letter-spacing: 5px !important;
      }
    }

    @media (max-width: 620px) {
      font-size: 16pt;

      .word {
        letter-spacing: 3px !important;
      }
    }

    @media (max-width: 590px) {
      .word {
        letter-spacing: 0 !important;
      }
    }

    .word {
      font-family: "Lato", "Roboto", "Arial", sans-serif;
      font-weight: 100;
      line-height: 135%;
      letter-spacing: 10px;

      @media (max-width: 767px) {
        font-weight: 300;
      }
    }
  }

  .fade-in-animation {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
  }


  .social {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;

    .social-icon {
      margin-left: 30px;
      margin-top: 0;
      width: 44px;
      height: 44px;
      overflow: hidden;
      display: inline-block;

      &:first-child {
        margin: 0
      }

      &:hover {
        cursor: pointer;
      }

      img {
        width: 88px;
        height: 44px;
        margin-left: 0;

        &:hover {
          margin-left: -44px;
        }
      }
    }
  }

  .large-download-buttons-wrapper {
    .download-app {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .download-text {
        font-size: 30pt;
      }

      .download-buttons-wrapper {
        display: flex;
        flex-direction: row;

        a {
          margin-left: 20px;
          margin-top: 0;

          img {
            width: auto;
          }
        }
      }
    }
  }
}
