.question-modal {
  .modal-dialog {
    max-width: 400px;
    height: 250px;
  }

  .modal-body {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .question-modal-text {
      margin: 0 15px;
    }
  }

  .modal-footer {
    text-align: center;

    .dockit-button-wrapper {
      margin: 0 5px;
      padding-left: 10px;
      padding-right: 10px;

      &:last-child {
        margin: 0 0 0 5px;
      }

      .dockit-button {
        min-width: 120px;
        width: max-content;
      }
    }
  }
}
