$border-width: 2px;

.dockit-button-wrapper {
  position: relative;
  padding: 6px 0;
  border-radius: 50px;
  box-shadow: 1px solid $black;

  &:hover {
    cursor: pointer;
  }

  &:focus, &:active {
    box-shadow: none;
    outline: none;
  }

  .dockit-button {
    padding: 7px 0;
    letter-spacing: 2px;
    background: none;
    border: none;
    -webkit-backface-visibility: hidden;

    &:focus {
      outline: none;
    }
  }

  .fa {
    position: absolute;
    right: 6px;
    top: 6px;
  }
}

.black {
  background: none;
  border: $border-width solid $black;
  color: $black;

  &:hover {
    border: $border-width solid $dark-grey;
    background: $dark-grey;
    color: $white;
  }
}

.black-filled {
  border: $border-width solid $black;
  background: $black;
  color: $white;

  &:hover {
    border: $border-width solid $dark-grey;
    background: $dark-grey;
    color: $white;
  }
}

.gray {
  background: none;
  border: $border-width solid $grey;
  color: $grey;

  &:hover {
    border: $border-width solid $dark-grey;
    background: $dark-grey;
    color: $white;
  }
}

.gray-filled {
  border: $border-width solid $grey;
  background: $grey;
  color: $white;

  &:hover {
    border: $border-width solid $dark-grey;
    background: $dark-grey;
    color: $white;
  }
}





.white {
  background: none;
  border: $border-width solid $white;
  color: $white;

  &:hover {
    border: $border-width solid $white;
    background: $dark-grey;
    color: $white;
  }
}

.white-filled {
  border: $border-width solid $white;
  background: $white;
  color: $primary;

  &:hover {
    border: $border-width solid $white;
    background: $dark-grey;
    color: $white;
  }
}









.blue {
  background: none;
  border: $border-width solid $primary;
  color: $primary;

  &:hover {
    border: $border-width solid $dark-primary;
    background: $dark-primary;
    color: $white;
  }
}

.blue-filled {
  border: $border-width solid $primary;
  background: $primary;
  color: $white;

  &:hover {
    border: $border-width solid $dark-primary;
    background: $dark-primary;
    color: $white;
  }
}

.gray-blue {
  background: none;
  border: $border-width solid $grey;
  color: $grey;

  &:hover {
    border: $border-width solid $dark-primary;
    background: $dark-primary;
    color: $white;
  }
}

.gray-blue-filled {
  background: $grey;
  border: $border-width solid $grey;
  color: $white;

  &:hover {
    border: $border-width solid $dark-primary;
    background: $dark-primary;
    color: $white;
  }
}

.red {
  background: none;
  border: $border-width solid $grey;
  color: $grey;

  &:hover {
    border: $border-width solid $red;
    background: $red;
    color: $white;
  }
}

.red-filled {
  background: $red;
  border: $border-width solid $red;
  color: $white;

  &:hover {
    border: $border-width solid $dark-red;
    background: $dark-red;
    color: $white;
  }
}

.green {
  background: none;
  border: $border-width solid rgba(0, 0, 0, 0.40);
  color: $green;

  &:hover {
    border: $border-width solid $green;
    background: $green;
    color: $white;
  }
}

.green-filled {
  background: $green;
  border: $border-width solid $green;
  color: $white;

  &:hover {
    border: $border-width solid $dark-green;
    background: $dark-green;
    color: $white;
  }
}

.dark-green {
  background: none;
  border: $border-width solid $dark-green;
  color: $dark-green;

  &:hover {
    border: $border-width solid $dark-green;
    background: $dark-green;
    color: $white;
  }
}

.dark-green-filled {
  background: $dark-green;
  border: $border-width solid $dark-green;
  color: $white;

  &:hover {
    border: $border-width solid $darkest-green;
    background: $darkest-green;
    color: $white;
  }
}

.toggle {
  border: none;
  background: none;
  color: $grey;
}
