.link-calendars-button-mobile {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  color: #2A88F8;

  &:hover {
    color: $dark-primary;
    cursor: pointer;
  }

  .link-calendars-button-icon {
    img {
      height: 25px;
      margin: 0 10px 0 0;
    }
  }

  .link-calendars-cancel-icon {
    img {
      height: 25px;
    }
  }
}