.attached-image {
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  position: relative;

  .remove {
    position: absolute;
    top: 2px;
    left: 23.5%;
    width: 19px;
    height: 19px;
    cursor: pointer;
  }
  
  .attached-image-show {
    &:hover {
      cursor: pointer;
    }
  }
}
