.comment-area{
  font-weight: 300;
  background: none;
  border: 0;
  width: 100%;
  resize: none;
  font-size: 12pt;

  &::-webkit-scrollbar-thumb {
    background: $light-grey;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
}
