.modal-done-button {
  float: right;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: $primary;
  font-weight: 400;

  &:hover {
    color: $dark-primary;
  }

  &:focus {
    outline: none;
  }
}
