@import '/reply/index';
@import 'modal/modals';
@import 'dock/modal/modal';
@import 'dock/time-modal/time-modal';

.action-item {
  .dock-action-output-wrapper {
    display: flex;

    .link {
      color: $primary;

      &:hover {
        color: $dark-primary;
        cursor: pointer;
      }
    }
  }

  .action {
    width: 17px;
    height: 17px;
    margin-top: 0;

    &:hover {
      cursor: pointer;
    }

    .action-icon {
      width: 34px;
      height: 34px;
      margin-left: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .counter {
    &:hover {
      cursor: pointer !important;
    }
  }
}

.action-item {
  display: flex;
  color: $grey;
  text-align: center;
  margin-right: 20px;

  .dock-action-output-wrapper {
    display: flex;

    .link {
      color: $primary;

      &:hover {
        color: $dark-primary;
        cursor: pointer;
      }
    }

    .counter {
      &:hover {
        cursor: pointer !important;
      }
    }
  }

  .counter {
    padding: 1px 0 0 5px;
    font-size: 12px;
    text-align: right;
  }

  .action {
    width: 17px;
    height: 17px;
    margin-top: 0;

    svg {
      max-width: 100%;
    }

    &:hover {
      cursor: pointer;
    }

    .action-icon {
      width: 17px;
      height: 17px;
      margin-left: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .active {

    }
  }
}

.like {
  .counter {
    &:hover {
      cursor: pointer !important;
    }
  }
}



.comment {
  .action {
    .action-icon {
      width: 17px;
      height: 17px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .counter {
    &:hover {
      cursor: pointer;
    }
  }
}
