.categories-wrapper {
  font-size: 12pt;
  height: 39px;

  &:hover {
    cursor: pointer;
  }

  .categories-label {
    position: relative;
    float: left;
    padding: 7px 0;
    font-weight: 400;
  }

  .categories-list {
    position: relative;
    float: right;
    padding: 7px 0;
    color: #9B9B9B;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
