$root-font-size: 1.3em;

.posts-root {
  background: $white;
  border-bottom: none !important;

  .posts-drilldown-header {
    font-size: $root-font-size;

    .creator {
      font-weight: 300 !important;
      padding: 1px 0 !important;
    }
  }

  .right-side {
    .posts-drilldown-item-text {
      .expandable-text {
        font-size: $root-font-size;
      }
    }
  }
}

.posts-drilldown-item {
  padding: 10px;
  background: $white;
  border-bottom: 1px solid $border-grey;

  &:last-child {
    border-bottom: none;
  }

  .post-image-wrapper {
    float: left;
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
    border-radius: 30px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    .post-image {}
  }

  .posts-drilldown-header {
    .creator {
      display: inline-block;
      font-weight: 400;
      padding: 4px 0;
    }

    .menu {
      padding: 2px 10px;

      .dropdown {
        button {

        }
      }
    }
  }

  .right-side {
    position: relative;

    .posts-drilldown-content-wrapper {
      position: relative;

      .posts-drilldown-item-image-wrapper {
        margin-top: 10px;

        &:hover {
          cursor: pointer;
        }

        .posts-drilldown-item-image {}
      }

      .posts-drilldown-item-text {
        width: 100%;
        margin: 10px auto;
      }
    }

    .posts-drilldown-item-info {
      display: flex;
      width: 100%;
      color: $grey;
      font-size: 1em;

      .posts-drilldown-item-info-left {
        display: flex;
        flex: 1;

        .post-item-reply-button {
          margin-right: 15px;

          &:hover  {
            color: $primary;
            cursor: pointer;
          }
        }

        .like {
          margin-right: 5px;
        }
      }

      .post-item-time {
        text-transform: uppercase;
        font-size: 12px;
        padding: 1px 0;
      }
    }
  }
}
