.dock-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {
        }
      }
    }
  }

  .modal-body {
    min-height: 50%;

    .dock-action-modal-menu {
      border-bottom: 1px solid $light-grey;

      .dock-action-modal-menu-item {
        display: inline-block;
        text-align: center;
        padding: 10px 0;

        &:hover {
          cursor: pointer;

          .text {
            color: $dark-primary;
          }
        }

        .text {
          color: $primary;
          font-weight: 400;
        }
      }

      .tabs-1 {
        width: 100%;
      }

      .tabs-2 {
        width: calc(100% / 2);
      }

      .tabs-3 {
        width: calc(100% / 3);
      }

      .tabs-4 {
        width: calc(100% / 4);
      }

      .tabs-5 {
        width: calc(100% / 5);
      }

      .active {
        border-bottom: 3px solid $primary;
      }
    }
  }
}
