.images-gallery {
  max-width: 100%;
  margin: 10px 0;
  padding-right: 45px;

  .images-list {
    overflow: hidden;

    .thumb {
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
