.validation-input-row {
  .error-text {
    color: $error;
    margin-bottom: 5px;
  }

  .input {
    background: none;
    border: 2px solid $primary;
    border-radius: 30px;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 20px;

    &:focus {
      background: $white;
      outline: none;
      transition: all 0.3s ease-in-out;

      &::-webkit-input-placeholder {color:$primary; transition: all 0.3s ease-in-out;}
      &::-moz-placeholder          {color:$primary; transition: all 0.3s ease-in-out;}
      &:-moz-placeholder           {color:$primary; transition: all 0.3s ease-in-out;}
      &:-ms-input-placeholder      {color:$primary; transition: all 0.3s ease-in-out;}
    }
  }

  .error {
    border: 1px solid $error;
    color: $error;

    &:focus {
      color: $error !important;

      &::-webkit-input-placeholder {color:$error; transition: all 0.3s ease-in-out;}
      &::-moz-placeholder          {color:$error; transition: all 0.3s ease-in-out;}
      &:-moz-placeholder           {color:$error; transition: all 0.3s ease-in-out;}
      &:-ms-input-placeholder      {color:$error; transition: all 0.3s ease-in-out;}
    }

    &::-webkit-input-placeholder {color:$error; transition: all 0.3s ease-in-out;}
    &::-moz-placeholder          {color:$error; transition: all 0.3s ease-in-out;}
    &:-moz-placeholder           {color:$error; transition: all 0.3s ease-in-out;}
    &:-ms-input-placeholder      {color:$error; transition: all 0.3s ease-in-out;}
  }
}
