.forgot-password-wrapper {
  position: relative;
  font-size: 12pt;

  .forgot-password {
    position: relative;
    margin: 30px auto;

    .validation {
      font-size: 14pt;
      color: red;
      margin: 10px;
      text-align: center;
    }

    .text-wrapper {
      text-align: center;
      color: $grey;
      margin-bottom: 30px;
    }

    .buttons {
      .dockit-button {
        width: 100%;
      }
    }
  }
}
