.alerts-wrapper {
  font-size: 12pt;
  height: 39px;

  &:hover {
    cursor: pointer;
  }

  .alerts-label {
    position: relative;
    float: left;
    padding: 7px 0;
    font-weight: 300;
  }

  .bold-label {
    font-weight: 400;
  }

  .alerts-list {
    position: relative;
    float: right;
    padding: 7px 0;
    color: $grey;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .chevron-wrapper {
    float: right;
    padding: 5px 0 5px 10px;
    color: $grey;

    .arrow {
      color: $middle-grey;
      font-size: 18pt;
    }
  }
}
