@import 'usertag/usertag';
@import 'location/location';
@import 'description/description';

.profile-info {
  text-align: center;
  font-size: 12pt;

  .name {
    cursor: default;
    margin-top: 10px;
    font-size: 14pt;
    font-weight: 400;

    .icon {
      position: relative;
      padding-left: 5px;
      cursor: pointer;
      margin-left: 10px;
      margin-right: -32px;
    }

    .users-menu {
      position: absolute;
      cursor: pointer;
      height: 25px;
      width: 25px;
      margin: 2px -25px 0 10px;
      right: auto;
      padding: 0 !important;

      img {
        width: 20px;
        height: 20px;
        margin: auto !important;
        padding: 0 !important;
      }
    }

    .user-name-text {

    }

    a {
      position: absolute;

      div {
        display: inline;

        div {
          display: table-cell;
          vertical-align: middle;

          .settings-icon {
            height: 25px;
            width: 25px;
            margin: 0 -25px 0 10px;
          }
        }
      }
    }
  }

  .usertag {
    cursor: default;
  }

  .location-block {
    margin: 10px 0;

    .location {
      font-size: 15px;
    }
  }
}