#discover-date-selector-wrapper {
  margin: 15px 0 20px 0;

  .discover-date-current-date {
    width: 100%;
    text-align: center;
    color: $primary;
  }

  #discover-date-selector {
    display: flex;

    #discover-date-selector-left-arrow {}

    #discover-date-selector-scroll-wrapper {
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      flex-basis: 0;
      flex-grow: 1;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      .discover-date-selector-date {
        position: relative;
        padding-top: 13px;
        flex: 0 0 auto;
        font-weight: 400;
        color: $grey;
        text-align: center;
        font-size: 1em;
        line-height: 1.1em;

        &:hover {
          color: $primary;
          cursor: pointer;
        }

        .top-line {
          border-bottom: 1px solid $border-grey;
          padding-bottom: 3px;
        }

        .bottom-line {
          margin: 5px;
          font-size: 0.9em;
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }

      .before-today {
        color: $light-grey;
        
        &:hover {
          color: $light-grey;
          cursor: default;
        }
      }

      .selected {
        .bottom-line {
          background: $primary;
          border-radius: 50px;
          color: $white !important;

          &:hover {
            color: $white;
            cursor: default;
          }
        }
      }

      .today {
        .bottom-line {
          color: $primary;
        }
      }
    }

    #discover-date-selector-right-arrow {}

    .arrow {
      color: $grey;
      padding: 22px 22px;

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}
