.profile-background-image {
  position: relative;

  .background-image-container {
    width: 100%;

    .background-image {}
  }

  #title-image {
    width: 100%;
    display: block;
  }

  .hoverable {
    &:hover {
      cursor: pointer;
    }
  }

  #upload-input {
    display: none !important;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .hidden {
    visibility: hidden;
  }

  .action-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    z-index: 6;
    text-align: center;

    .action-icon {
      overflow: visible;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
