.categories-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {
          float: left;
        }
      }

      .modal-body {
        padding: 5px 15px;

        .categories-modal-item {
          width: 100%;
          padding: 15px 0;
          clear: both;
          overflow: hidden;
          border-bottom: 1px solid $lightest-grey;

          &:hover {
            cursor: pointer;
          }

          &:last-child {
            border-bottom: none;
          }

          .categories-modal-item-title {
            float: left;
          }

          .categories-modal-item-checked {
            float: right;

            img {
              height: 15px;
            }
          }
        }
      }
    }
  }
}