.profile-image {
  text-align: center;
  
  .profile-image-container {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -75px;

    .profile-image-wrapper {
      border: 2px solid $background-color;
      border-radius: 150px;
    }

    .action-block {
      position: absolute;
      z-index: 5;
      width: 130px;
      right: -33%;
      bottom: 10%;

      .action-icon {
        width: 30px;
        height: 30px;

        &:hover {
          cursor: pointer;
        }
      }

      #dropdown-list {
        position: absolute;
        width: 100%;
        top: 40px;
      }

      .arrow {
        position: absolute;
        width: 0.8em;
        height: 0.8em;
        display: block;
        background: $white;
        border-left: 1px solid $primary;
        border-top: 1px solid $primary;
        transform: translateY(-55%) rotate(45deg);
      }
    }
  }

  .hoverable {
    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 767px) {
    .profile-image-container {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      margin-top: -50px;
      position: relative;
    }

    .action-block {
      right: -53% !important;
      bottom: 4% !important;

      .action-icon {
        width: 25px;
        height: 25px;
      }

      #dropdown-list {
        position: absolute;
        width: 100%;
        top: 35px;
      }
    }
  }

  @media (max-width: 480px) {
    .profile-image-container {
      margin: 0 auto;
      margin-top: -45px;
      position: relative;
    }

    .action-block {
      position: absolute;
      z-index: 5;
      width: 130px;
      right: -45px !important;

      .action-icon {
        width: 25px;
        height: 25px;
      }

      #dropdown-list {
        position: absolute;
        width: 100%;
        top: 35px;
      }
    }
  }

  #profile-image-upload-input {
    display: none;
  }
}
