#dropdown-list {
  position: absolute;
  width: 100%;
  top: 70px;
  border: 1px solid $primary;
  border-radius: 3px;
  margin: 0 auto;
  color: $grey;
  background: $white;

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $white;
    border-width: 10px;
    margin-left: -10px;
    margin-bottom: -1px;
  }

  &:before {
    border-color: rgba(155, 155, 155, 0);
    border-bottom-color: $primary;
    border-width: 10px;
    margin-left: -10px;
  }

  .dropdown-list-item-container{
    display: flex;
    flex-direction: column;
  }

  .dropdown-list-item {
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}
