.sign-up {
  position: relative;
  font-size: 12pt;
  top: 35px;
  margin-bottom: 20px;

  .buttons {
    .dockit-button {
      width: 100%;
    }
  }

  .text {
    letter-spacing: 1px;
    text-align: center;
  }

  .bright {
    font-size: 14pt;
    letter-spacing: 2px;
    margin: 45px 0;
  }

  @media (max-height: 748px) {
    .bright {
      margin: 10px 0;
    }
  }

  .bottom-text {
    margin-bottom: 15px;
  }

  a {
    font-weight: 400;
  }
}
