.select-dropdown {
  font-size: 12pt;
  padding-bottom: 1px;
  padding-top: 1px;

  .Select {
    border: none;
    background: none;
    box-shadow: none;
  }

  .is-focused {
    .Select-control {
      border: none;
      box-shadow: none;
    }
  }

  .Select-value {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 85% !important;
  }

  .Select-input {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0 !important;
  }

  .Select-control {
    border: none;
    background: none;
    box-shadow: none;
  }

  .Select-control:hover {
    border: none;
    box-shadow: none;
  }

  .Select-menu-outer {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .Select-noresults {
    padding-left: 0;
    padding-right: 0;
  }

  .Select-placeholder {
    padding-left: 0;
    padding-right: 0;
    border: none;
    box-shadow: none;
  }

  .Select-clear-zone{
    padding-bottom: 0.2em;
  }
}

.error {
  .Select-value-label {
    color: $error !important;
  }

  .Select-placeholder {
    color: $error;
  }
}
