#mobile-search-wrapper {
  z-index: 1000;

  .col-xs-12 {
    padding: 0;
  }

  .top-wrapper {
    clear: both;
    overflow: hidden;
    margin-left: 10px;

    .search-icon {
      float: left;
      padding: 12px 0;
    }
  }

  #mobile-search-block {
    float: left;
    width: 100%;
    background-color: $white;
    border-left: 1px solid $border-grey;
    border-right: 1px solid $border-grey;

    &:focus {
      outline: none;
    }

    .search-box {
      padding: 10px 0;
      text-indent: 0;
      text-align: left;
      width: calc(100% - 25px);
      float: right;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .search-results {
    margin: 0 auto;
    position: relative;
    transform: translate(0, 0);
    width: auto;
    height: calc(100% - 41px);
    background: $white;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 0;

    &:after, &:before {
      display: none;
    }

    &:after {
      display: none;
    }

    &:before {
      display: none;
    }
  }

  .no-background-image {
    background-image: none;
  }
}
