.intent-panel {
  margin-top: 10px;
  clear: both;

  .btn-container {
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;

    .dockit-button-wrapper {
      input[type='button'] {
        width: 78px;
      }
    }
  }
}
