#dates-modal {
  min-width: 430px;

  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {

        }
      }

      .modal-body {
        max-height: none !important;
        padding: 5px 15px;

        .date-filter-picker {
          text-align: center;

          .menu-wrapper {
            clear: both;
            overflow: hidden;

            .date-filter-picker-label {
              float: left;
              margin: 10px 0;
              font-weight: 500;
              color: $primary;
            }

            .date-filter-clear-all-button {
              margin: 10px 0;
              float: right;
              font-weight: 500;
              color: $primary;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .hoverable {
            &:hover {
              cursor: pointer;
            }
          }

          .date-filter-picker-input {
            #calendar-dropdown {
              display: inline-block !important;
            }
          }
        }
      }
    }
  }
}