.admin-panel {
  .admin-panel-nav {
    text-align: center;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 10px;

    .admin-panel-nav-item {
      display: inline-block;
      text-align: center;
      color: #9B9B9B;
      font-size: 14pt;
      margin: 15px 0;
      padding: 0 35px;
      border-right: 1px solid $light-grey;

      &:last-child {
        border-right: none;
      }

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }

    .active {
      color: $primary;

      &:hover {
        color: $dark-primary !important;
      }
    }
  }
}
