.new-discover-item-cover-image-wrapper {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .event-member-image-wrapper {
    position: absolute;
    margin: 0 auto;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    margin-bottom: -35px;

    @media (min-width: 500px) {
      width: 80px;
      height: 80px;
      margin-bottom: -40px;
    }

    @media (min-width: 640px) {
      width: 90px;
      height: 90px;
      margin-bottom: -45px;
    }

    @media (min-width: 720px) {
      width: 100px;
      height: 100px;
      margin-bottom: -50px;
    }

    @media (min-width: 840px) {
      width: 110px;
      height: 110px;
      margin-bottom: -55px;
    }

    @media (min-width: 920px) {
      width: 120px;
      height: 120px;
      margin-bottom: -60px;
    }

    .event-member-wrapper {
      border-radius: 200px;
    }
  }
}
