#discover-category-filter {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding: 8px 0;
  color: $grey;
  font-size: 12pt;

  .cat-label {
    color: $primary;
  }

  &:hover {
    cursor: pointer;
  }
}
