@import 'expandable-text/index';

.creation-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .date {
    padding: 10px 0 0 0 !important;
  }

  .date, .time {
    padding: 10px 0;
    font-size: 16px;
    color: $grey;
  }

  .comma {
    margin-left: -2px;
  }

  .creation-creator {
    padding: 10px 0 0 0 !important;
    color: $grey;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .start-container {
    .date-block {
      padding-top: 10px;

      .all-day-label {
        text-align: center;
      }
    }
  }

  .location-block {
    .location {
      font-size: 15px;
    }
  }

  .members {
    margin: 10px auto;
    padding: 3px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }

  .action-bar {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    .action-item {
      display: flex;
      justify-content: flex-start;
      color: $grey;

      .counter {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
      }
    }

    .action-item:first-child {
      margin-right: 15px;
    }
  }

  .repeat {
    font-weight: 400;
  }

  .expandable-text {
    padding-top: 10px;
    -webkit-line-clamp: $event-description-lines-to-show;
  }

  .collapsed {
    height: $font-size*$line-height*$event-description-lines-to-show; /* Fallback for non-webkit */
  }

  .see-more {
    top: $font-size*$line-height*($event-description-lines-to-show - 1);
    padding: 0 3px 0 0;
    right: 0;
  }

  .data {
    width: 100%;
  }
}