.event-member-image-wrapper {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 5px;

  @media (max-width: 768px) {
    width: 35px;
    height: 35px;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;

    .event-member-wrapper {
      width: 100%;
      height: 100%;
      border: 1px solid $light-grey;
      border-radius: 50px;

      .event-member {}
    }
  }
}