.link-calendars {
  max-width: 300px;
  margin: 0 auto;

  .link-calendars-icon {
    text-align: center;
    margin: 20px 0;
  }

  .link-calendars-top-text {
    text-align: center;
    color: $primary;
    font-size: 12pt;
    padding-top: 10px;
  }

  .link-calendars-middle-text {
    text-align: center;
    color: $grey;
    font-size: 10pt;
    margin: 10px 0 20px 0;
  }

  .link-calendars-buttons {
    .dockit-button {
      width: calc(100% - 2px);
      margin: 10px 0;
    }
  }

  .link-calendars-bottom-text {
    text-align: center;
    color: $grey;
    font-size: 10pt;
    width: 75%;
    margin: 0 auto;
  }
}