@import './item/cover-image/index';
@import './item/content/index';

.new-discover-items-wrapper {
  position: relative;
  padding-bottom: 25px;
  margin: 0 auto;

  .new-discover-item {
    background: $white;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 700px) {
      border: 1px solid $border-grey;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  .new-discover-items-no-items-text-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    color: $grey;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
}
