.profile-followers {
  .follower {
    padding: 5px 0;
    font-size: 12pt;
    background: $white;
    border-bottom: 1px solid $border-grey;
    clear: both;
    overflow: hidden;

    &:last-child {
      border: none;
    }

    .image {
      float: left;
      margin: 5px 0 5px 10px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
      }
    }

    .text {
      padding: 3px 0 0 15px;
      float: left;
      color: $grey;

      &:hover {
        color: $primary;
      }

      .user-name {
        font-weight: 400;
      }
    }

    .menu {
      padding: 9px 15px 0 25px;
      float: right;
      color: $primary;

      .icon {
        width: 25px;
        height: 25px;
        margin-top: 2px;

        &:hover {
          cursor: pointer;
        }
      }

      .reject-icon {
        width: 25px;
        height: 25px;
        margin-top: 2px;

        &:hover {
          cursor: pointer;
        }
      }

      span {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
