.link-calendars-button {
  color: $primary;
  margin-top: 20px;

  &:hover {
    color: $dark-primary;
    cursor: pointer;
  }

  .link-calendars-button-icon {
    img {
      width: 30px;
      height: 30px;
      margin: 0 10px 0 0;
    }
  }
}