.radiobutton {
  input {
    visibility: hidden;
  }

  .btn {
    font-size: 12pt;
    font-weight: 100;
    letter-spacing: 1px;
    border-radius: 40px;
    padding: 3px 0;
    width: 100px;
  }

  .btn-primary {
    background: none;
    color: $primary;
    border: 1px solid $primary;
    box-shadow: none;
  }

  .btn-primary:hover {
    background: $primary;
    color: $white;
    border: 1px solid $primary;
    box-shadow: none;
  }

  .active {
    background: $primary;
    color: $white;
    border: 1px solid $primary;
  }

  .active:hover {
    background: #1c65bb;
    color: $white;
    border: 1px solid #1c65bb;
    box-shadow: none;
  }
}