.user-list {
  padding: 5px 15px;

  .user {
    padding: 10px 0;
    border-bottom: 1px solid $border-grey;
    overflow: hidden;

    &:last-child {
      border: none;
    }

    &:hover {
      cursor: pointer;
      color: $primary;
    }

    .user-pic {
      float: left;
      margin: 3px 10px 3px 0;

      img {
        width: 35px;
        height: 35px;
        border-radius: 35px;
        overflow: hidden;
      }
    }

    .user-data {
      float: left;
      max-width: calc(100% - 45px);

      .name {
        font-weight: 400;
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }

      .username {
        font-weight: 200;
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }
}