.attach-more-images{
  display: none !important;
}

.attach-more-images-btn{
  display: block;
  width: 85px;
  height: 85px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &:hover {
    cursor: pointer;
  }
}