.search-results-items {
  height: calc(100% - 36px);
  width: 100%;
  overflow-y: auto;
  padding: 5px;

  .search-results-total-count {
    color: $light-grey;
  }

  .creations-results {
    .search-results-item {
      .search-results-item-link-wrapper {
        display: inline-grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        grid-template-columns: 40px calc(100% - 120px) 80px;
        width: 100%;

        &:hover {
          .search-results-creation-distance {
            color: $primary;
          }
        }

        .search-results-item-data {
          padding: 0 10px;
        }

        .search-results-creation-distance {
          text-align: right;
          padding: 11px 0;
          margin-left: auto;
          margin-right: 10px;
          color: $grey;
        }

        .menu {
          z-index: 999;
          margin-left: auto;
          margin-right: 10px;
          position: inherit;
          padding: 0;

          .icon {
            width: 20px;
            padding: 10px 0;
          }

          .reject-icon {
            width: 20px;
            padding: 10px 0;
          }
        }
      }
    }
  }

  .users-results {
    .search-results-item {
      .search-results-item-link-wrapper {
        display: flex;
        flex-direction: row;
        text-decoration: none;

        .search-results-item-data {
          padding-left: 10px;
          width: calc(100% - 105px);
        }

        .users-menu {
          padding: 11px 15px 11px 25px;
        }
      }
    }
  }

  .search-results-container {
    .search-results-item {
      border-bottom: 1px solid $light-grey;
      padding: 8px 0;
      overflow: auto;
      color: $grey;
      transition: all 0.2s ease-in-out;

      .search-results-item-link-wrapper {
        &:last-child {
          border-bottom: none;
        }

        &:hover {
          cursor: pointer;

          .search-results-item-data {
            .top {
              color: $primary;
            }

            .bottom {
              color: $primary;
            }
          }
        }

        .search-results-item-pic {
          width: 40px !important;
          min-width: 40px !important;
          height: 40px !important;
          border-radius: 40px;
          overflow: hidden;
        }

        .search-results-item-data {
          .top {
            font-weight: 500;
            color: $black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .bottom {
            color: $black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}