#discover-date-filter {
  position: relative;
  border-bottom: 1px solid $light-grey;
  padding: 8px 0;
  color: $primary;
  font-size: 12pt;

  &:hover {
    cursor: pointer;
  }

  .calendar {
    position: absolute;
    background: $white;
    width: 372px; // 50*7=350px for days; 10+10=20px for padding; 2px for border
    z-index: 9999999;
    padding: 10px;
    border: 1px solid $border-grey;

    .month {
      .header {
        text-align: center;
        font-size: 1.2em;
        margin: 3px 0 8px 0;

        .left {
          float: left;
        }

        .right {
          float: right;
        }

        .arrow {
          line-height: 27px;
          margin: 0 10px;

          &:hover {
            cursor: pointer;
            color: $dark-primary;
          }
        }

        .text {
          font-weight: 400;
          color: $black;
        }
      }

      .weekdays {
        .weekday {
          display: inline-block;
          width: calc(100% / 7);
          text-align: center;
          font-weight: 100;
          color: $grey;
        }
      }

      .days {
        .days {
          &:first-child {

          }

          &:last-child {
            .empty-day {
              border-top: 1px solid $border-grey;
            }

            .day {
              border-left: 1px solid $border-grey;
              border-bottom: 1px solid $border-grey;
            }

            .last-day-of-week {
              border-right: 1px solid $border-grey;
              width: 51px;
              margin-right: -1px;
            }
          }

          .empty-day {
            display: inline-block;
            width: 50px;
            height: 50px;
            clear: both;
            overflow: hidden;
          }

          .day {
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: $black;
            border-left: 1px solid $border-grey;
            border-top: 1px solid $border-grey;
            clear: both;
            overflow: hidden;

            &:first-child {

            }

            &:last-child {
              border-right: 1px solid $border-grey;
            }
          }

          .selected {
            color: $primary;
            font-weight: 400;
          }

          .passed {
            color: $grey;
          }
        }
      }
    }
  }
}
