$users-dropdown-height: 273px;

.users-dropdown-list {
  position: absolute;
  width: 240px;
  height: $users-dropdown-height;
  top: 0;
  margin-left: 10px;
  background: $white;
  border: 1px solid $middle-grey;
  border-radius: 3px;
  box-shadow: 0 0 10px $middle-grey;
  overflow-y: auto;
  z-index: 99999;

  @media (min-width: 500px) {
    width: 300px;
  }

  @media (min-width: 700px) {
    width: 350px;
  }

  @media (min-width: 1000px) {
    width: 415px;
  }

  .no-items {
    font-size: 16px;
    padding: 8px 8px;
  }

  .users-dropdown-list-item {
    font-size: 16px;
    padding: 8px 8px;
    border-bottom: 1px solid $border-grey;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      background: $lightest-grey;
    }

    .image-container {
      margin-right: 5px;

      img {
        height: 20px;
        width: 20px;
        border-radius: 20px;
        overflow: hidden;
      }
    }

    .text-container {
      vertical-align: middle;

      .username {
        font-weight: 400;
        color: $primary;
      }

      .dot {
        font-weight: 900;
        color: $grey;
        padding: 0 6px;
      }

      .name {

      }
    }
  }
}
