.dockit-top-tooltip {
  color: $primary !important;
  background-color: $white !important;
  border: 1px solid $primary;

  &.place-top {
    &:after, &:before {
      top: 100% !important;
      left: 50% !important;;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-top-color: white !important;
      border-top-width: 8px !important;
      margin-left: -10px;
    }

    &:before {
      border-color: rgba(155, 155, 155, 0);
      border-top-color: $primary;
      border-width: 9px;
      margin-left: -11px;
    }
  }
}
