.view-changer {
  padding-bottom: 6px;
  padding-top: 8px;
  color: $black;

  &:hover {
    cursor: pointer;
  }

  .changer-label {
    font-size: 12pt;
  }

  .bold {
    font-weight: 500;
  }

  .arrow {
    color: $middle-grey;
    font-size: 18pt;
  }
}

.view-changer:hover {
  color: $primary;

  .arrow {
    color: $primary;
  }
}
