@import 'download-button/index';

.sign-in-container {
  width: 100%;
  font-size: 12pt;

  @media (max-width: 991px) {
    position: relative;
    width: 100%;
    font-size: 1.2em;
    top: 0;
    transform: none;
    left: 0;
  }

  @media (max-width: 767px) {
    .validation-input-row {
      margin: 0 30px;
    }

    .buttons {
      margin: 0 30px !important;
    }
  }

  .buttons {
    .dockit-button {
      width: 100%;
    }
  }

  .sign-up-btn {
    margin: 0;
  }

  .text {
    letter-spacing: 1px;
    text-align: center;
  }

  .bright {
    margin-bottom: 30px;
    font-size: 11pt;

    a:hover {
      text-decoration: none;
      color: $dark-primary;
    }
  }

  .forgot-password-link {
    margin: 5px 0 30px 0;
  }

  .dark {
    margin: 0;
    font-size: 11pt;
    font-weight: 400;
  }

  .dont-have-account-label {
    font-size: 1em;
  }

  .common-links {
    text-align: center;
  }
}
