.attach-first-image{
  display: none !important;
}

.event-images-wrapper {
  width: 100%;
  border-bottom: 1px solid $light-grey;
  border-top: 1px solid $light-grey;

  .see-all-images-btn{
    margin-top: 7px;
    width: 50px;
    margin-left: 47%;
    color: #D8D8D8;
    text-decoration: none;

    &:hover{
      cursor: pointer;
      color: $primary;
    }
  }

  .attached-image-item-preview-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 5px;
    margin-top: 10px;

    .attached-image-item-preview {
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      margin: 0 auto;
    }
  }

  .attach-image-drill-down {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

    .dockit-button-wrapper {
      .dockit-button {
        padding: 10px !important;
        margin: auto 0;
      }
    }
  }
}
