@import 'top/menu/index';

.view-comment {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid $comment-border-grey;
  width: 50%;
  background: $white;
  border-radius: 4px;

  .left {
    float: left;

    .event-member-image-wrapper {
      width: 35px;
      height: 35px;
      margin: 0 3px;

      @media (max-width: 480px) {
        width: 25px;
        height: 25px;
      }
    }
  }

  .right {
    padding: 0 0 0 51px;

    .top {
      width: 100%;
      align-items: center;
      justify-content: center;
      font-weight: 400;

      .comment-menu {
        float: right;
        margin-right: 10px;
        margin-top: 6px;
      }

      .menu {
        right: 20px;
        padding: 0;
      }
    }

    .text {
      a {
        font-weight: 500;
      }
    }

    .comment-attached-image {
      padding: 10px 0;

      img {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .bottom {
      width: 100%;
      margin-top: 10px;
      flex-wrap: wrap;
      clear: both;
      overflow: hidden;

      .time {
        float: right;
        text-transform: uppercase;
        color: $grey;
        letter-spacing: -0.2px;
        font-size: 12px;
      }

      .answer {
        float: left;
        width: 16px;
        height: 15px;
        margin-right: 15px;

        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }

      .action-item {
        float: left;
        display: flex;
        justify-content: flex-start;
        font-size: 12px;

        .counter {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  .comment-answer {
    margin-top: 10px;

    .add-comment {
      .create-comment-wrapper {
        width: 100%;

        .create-comment-inner-wrapper {
          .right {
            padding: 0;
          }
        }
      }
    }
  }
}
