.profile-public-creations {
  .creation-item {
    padding: 5px 0;
    font-size: 12pt;
    background: $white;
    border-bottom: 1px solid $border-grey;
    clear: both;
    overflow: hidden;

    &:last-child {
      border: none;
    }

    .image {
      float: left;
      margin: 5px 0 5px 10px;
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 40px;

      img {
        height: 100%;
        min-width: 100%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
      }
    }

    .text {
      padding-top: 3px;
      float: left;
      padding-left: 15px;
      color: $grey;
      width: calc(100% - 160px);

      &:hover {
        color: $primary;

        .name {
          color: $primary;
        }
      }

      .name {
        font-weight: 400;
        color: $black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .date {
      padding: 14px 10px 14px 0;
      float: right;
      color: $grey;

      &:hover {
        cursor: default;
      }
    }

    .menu {
      padding: 12px 15px 0 10px;
      float: right;

      .dropdown {
        position: absolute;
        right: 30px;

        button {
          background: none;
          border: none;
          color: $grey;
          padding-bottom: 0;

          .caret {
            display: none;
          }
        }

        .dropdown-toggle.btn-default:hover {
          background: none;
        }

        button:focus {
          background: none;
          border: none;
          color: $grey;

          .caret {
            display: none;
          }
        }

        .dropdown-menu {
          box-shadow: none;
          border-radius: 3px;
          left: -22px;
          top: 28px;
          min-width: 0;
          background: $white;
          border: 1px solid $primary;

          &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: $white;
            border-width: 10px;
            margin-left: -10px;
          }

          &:before {
            border-color: rgba(155, 155, 155, 0);
            border-bottom-color: $primary;
            border-width: 11px;
            margin-left: -11px;
          }

          li {
            a {
              font-size: 12pt;
              font-weight: 300;

              &:hover, &:focus {
                font-size: 12pt;
                font-weight: 300;
                background: none;
                color: $primary;
                outline: none;
              }
            }
          }
        }
      }
    }

    .dock {
      float: right;
      margin-right: 10px;
      padding: 16px 0;
    }
  }
}