.event-title {
  font-size: 25px;
  width: 85%;
  margin-top: 10px;
  overflow-wrap: break-word;
  text-align: center;
  position: relative;

  .text {
    position: relative;
    display: inline-block;
    width: 75%;
    margin: 0 auto;

    .private-icon {
      height: 0.6em;
      margin: 0 0 0 10px;
    }
  }

  .title-private-event-text {
    font-weight: 300;
    font-size: 0.6em;
    color: $grey;
  }

  .menu {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 10px;
    padding: 0;

    .dropdown {
      button {
        background: none;
        border: none;
        color: $grey;
        padding: 10px;

        .caret {
          display: none;
        }
      }

      .dropdown-toggle.btn-default:hover {
        background: none;
      }

      button:focus {
        background: none;
        border: none;
        color: $grey;

        .caret {
          display: none;
        }
      }

      .dropdown-menu {
        box-shadow: none;
        border-radius: 3px;
        top: 28px;
        min-width: 0;
        background: $white;
        border: 1px solid $primary;

        &:after, &:before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: ' ';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: $white;
          border-width: 10px;
          margin-left: -10px;
        }

        &:before {
          border-color: rgba(155, 155, 155, 0);
          border-bottom-color: $primary;
          border-width: 11px;
          margin-left: -11px;
        }

        li {
          a {
            font-size: 12pt;
            font-weight: 300;

            &:hover, &:focus {
              font-size: 12pt;
              font-weight: 300;
              background: none;
              color: $primary;
              outline: none;
            }
          }
        }
      }
    }
  }
}
