.hide {
  display: none;
}

.scroll-to-top-wrapper {
  position: fixed;
  top: 80px;
  left: 25px;
  text-align: center;
  z-index: 999999;

  @media (max-width: 1024px) {
    display: none;
  }

  .scroll-to-top {
    .content {
      color: $light-grey;
      -webkit-transition: color .5s ease-out;
      -moz-transition: color .5s ease-out;
      -o-transition: color .5s ease-out;
      transition: color .5s ease-out;

      &:hover {
        cursor: pointer;
        color: $dark-grey;
      }

      .text {

      }

      .arrow {

      }
    }
  }
}
