.check-email-wrapper {
  position: relative;
  font-size: 12pt;
  min-height: 400px;
  height: calc(100% - 72px);

  .check-email {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .text {
      color: $grey;
    }

    .dark-text {
      color: $dark-grey;
    }
  }
}
