@import 'items/items';

.search-results {
  position: absolute;
  transform: translate(0, 0);
  margin-left: -100px;
  margin-top: 20px;
  width: 400px;
  height: 400px;
  background: $search-results-background;
  border: 1px solid $border-grey;
  border-radius: 3px;
  padding: 3px;

  @media (max-width: 1250px) {
    margin-left: -75px;
    width: 350px;
  }

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: transparent;
    border-bottom-color: $white;
    border-width: 19px;
    margin-left: -19px;
  }

  &:before {
    border-color: transparent;
    border-bottom-color: $grey;
    border-width: 20px;
    margin-left: -20px;
  }

  &:hover {
    cursor: default;
  }

  .search-results-header {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    border-bottom: 1px solid $border-grey;

    &:hover {
      cursor: pointer;
    }

    .search-results-header-item {
      padding: 6px 0;
    }

    .active {
      border-bottom: 2px solid $primary;
    }
  }

  .default-search-results {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: $grey;

    .empty {
      height: 10px;
    }
  }
}