.feed {
  position: relative;
  background-color: $white;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid $border-grey;
  color: $black;
  font-size: 15px;

  .feed-item-content {
    display: flex;
    flex-direction: column;

    .heading {
      display: flex;
      flex: 1 0 auto;
      padding: 8px;
      color: $grey;

      .thumbnail-container {
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: center;
        width: 50px !important;
        height: 50px !important;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $light-grey;

        &:hover {
          cursor: pointer;
        }
      }

      .heading-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

        .description {
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          font-size: $feed-item-font-size;
          line-height: $feed-item-line-height;
          -webkit-line-clamp: $feed-item-title-lines-to-show;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          overflow-wrap: break-word;
          word-wrap: break-word;
          font-weight: 400;
          max-width: calc(100% - 70px);

          .creator {
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            font-size: $feed-item-font-size;
            line-height: $feed-item-line-height;
            -webkit-line-clamp: $feed-item-creator-lines-to-show;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            overflow-wrap: break-word;
            word-wrap: break-word;
            font-weight: 400;
          }

          .item-name {
            font-weight: 400;
          }

          .dock .new-action-item {
            margin-right: 0;
          }
        }

        .comment-description {
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          font-size: $feed-item-font-size;
          line-height: $feed-item-line-height;
          -webkit-line-clamp: $feed-comment-item-title-lines-to-show;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          overflow-wrap: break-word;
          word-wrap: break-word;
          font-weight: 400;
          max-width: calc(100% - 70px);

          .comment-creator {
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            font-size: $feed-item-font-size;
            line-height: $feed-item-line-height;
            -webkit-line-clamp: $feed-comment-item-creator-lines-to-show;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            overflow-wrap: break-word;
            word-wrap: break-word;
            font-weight: 400;
          }

          .creator {
            font-weight: 400;
          }

          .item-name {
            font-weight: 400;
          }
        }

        .two-lines {
          -webkit-line-clamp: 2 !important;
        }

        .three-lines {
          -webkit-line-clamp: 3 !important;
        }
      }

      .menu {
        position: absolute;
        right: 10px;
        padding: 12px 0 0 25px;

        .dropdown {
          button {
            background: none;
            border: none;
            color: $grey;
            padding-bottom: 0;

            .caret {
              display: none;
            }
          }

          .dropdown-toggle.btn-default:hover {
            background: none;
          }

          button:focus {
            background: none;
            border: none;
            color: $grey;

            .caret {
              display: none;
            }
          }

          .dropdown-menu {
            box-shadow: none;
            border-radius: 3px;
            left: -20px;
            top: 28px;
            min-width: 0;
            background: #ffffff;
            border: 1px solid #2A88F8;

            &:after, &:before {
              bottom: 100%;
              left: 50%;
              border: solid transparent;
              content: ' ';
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }

            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-bottom-color: #ffffff;
              border-width: 10px;
              margin-left: -10px;
            }

            &:before {
              border-color: rgba(155, 155, 155, 0);
              border-bottom-color: #2A88F8;
              border-width: 11px;
              margin-left: -11px;
            }

            li {
              a {
                font-size: 12pt;
                font-weight: 300;

                &:hover, &:focus {
                  font-size: 12pt;
                  font-weight: 300;
                  background: none;
                  color: $primary;
                  outline: none;
                }
              }
            }
          }
        }
      }
    }

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      border-bottom: solid 1px $border-grey;

      .image-container {
        img {
          &:hover {
            cursor: pointer;
          }
        }
      }

      .head {
        overflow: hidden;
        padding-top: 10px;

        .title {
          float: left;
          font-weight: 400;

          .data {
            margin: 0;
            padding: 0;

            .expandable-text {
              font-size: $font-size;
              line-height: $line-height;
              -webkit-line-clamp: $feed-header-lines-to-show;
            }

            .see-more {
              top: 22px;
            }

            .collapsed {
              display: block; /* Fallback for non-webkit */
              display: -webkit-box;
              height: $font-size*$line-height*$feed-header-lines-to-show; /* Fallback for non-webkit */
            }
          }
        }

        .timestamp {
          padding-left: 10px;
          float: right;
          color: $grey;
        }
      }

      .location {
        color: $grey;
        font-weight: 300;
      }

      .data {
        margin: 0 10px;
        font-size: 12pt;
      }

      .data-wrapper {
        padding-bottom: 10px;

        .head {
          margin: 0 10px;
          font-size: 12pt;
        }
      }
    }

    .footer {
      padding: 8px;

      .action-details {
        float: left;
      }

      .action-bar {
        display: flex;
        float: left;

        .action-item {
          color: $grey;
          float: left;
          display: flex;
          text-align: center;
          margin-right: 20px;

          .counter {
            padding: 1px 0 0 5px;
            font-size: 12px;
            text-align: right;
          }

          .action {
            .action-icon {

            }
          }
        }

        .reply-icon-wrapper {
          display: flex;
          float: left;
          height: 16px;
          margin-right: 20px;

          .reply-icon {
            height: 16px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .date {
        font-size: 12px;
        color: $grey;
        float: right;
      }
    }
  }

  .event-feed-item {
    .content {
      .image-container {
        &:hover {
          cursor: pointer;
        }
      }

      .data-wrapper {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .schedule-feed-item {
    .content {
      .image-container {
        &:hover {
          cursor: pointer;
        }
      }

      .data-wrapper {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .dock-feed-item {
    .content {
      &:hover {
        cursor: pointer;
      }

      .head {
        padding-bottom: 10px;
      }
    }

    .heading {
      height: 66px;

      .heading-content {
        max-width: calc(100% - 70px);

        .description {
          display: -webkit-box;

          margin-right: 0 !important;
          font-weight: 400;
          -webkit-line-clamp: 2;
          max-width: none;

          .dock {
            display: inline;
            font-weight: 400;
            color: $primary;
            margin-right: 0;

            &:hover {
              cursor: pointer;
              color: $dark-primary;
            }

            .dock-action-output-wrapper {
              display: inline;
            }
          }
        }

        .feed-dock-postfix {
          display: block;
          font-weight: 400;
        }
      }
    }
  }

  .comment-item-content {
    .heading {
      &:hover {
        cursor: pointer;
      }
    }

    .content {
      &:hover {
        cursor: pointer;
      }

      .data {
        padding: 10px 0 !important;
      }

      .dockit-youtube-container {
        width: 100% !important;
      }

      .no-image {
        padding-top: 0 !important;
      }
    }

    .footer {
      &:hover {
        cursor: pointer;
      }
    }
  }
}