.alerts-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {
          float: left;
        }
      }

      .modal-body {
        padding: 5px 15px;

        .alert-list-group {
          .alerts-modal-item {
            width: 100%;
            padding: 15px 0;
            clear: both;
            overflow: hidden;
            border-bottom: 1px solid $lightest-grey;

            &:hover {
              cursor: pointer;
              color: $primary;
            }

            &:last-child {
              border-bottom: none;
            }

            .alerts-modal-item-title {
              float: left;
            }

            .alerts-modal-item-checked {
              float: right;

              img {
                height: 15px;
              }
            }
          }

          .disabled {
            color: $grey !important;

            &:hover {
              cursor: default;
            }
          }
        }
      }
    }
  }
}