#search-block {
  float: left;

  &:focus {
    outline: none;
  }

  .search-box {
    background: $search-box-background;
    border: 1px solid $border-grey;
    border-radius: 30px;
    width: 200px;
    background-image: url('assets/images/search/search-icon.png');
    background-position-x: 54px;
    background-position-y: 4px;
    background-repeat: no-repeat;
    text-indent: 0;
    text-align: center;

    &:focus {
      background: $search-box-focused-background;
      outline: none;
      padding-left: 10px;
      text-align: left;
    }
  }

  .no-background-image {
    background-image: none;
  }
}
