.privacy-policy-wrapper {
  position: absolute;
  width: 100%;

  .privacy-policy {
    text-align: justify;
    font-size: 12pt;
    font-weight: 300;

    a {
      font-weight: 400;
    }

    b {
      font-weight: 400;
    }

    h2 {
      font-weight: 500;
    }

    h3 {
      font-weight: 500;
    }

    h4 {
      font-weight: 500;
      border-bottom: 1px solid #afabab;
      margin-bottom: 5px;
      padding-bottom: 2px;
    }

    .copyright {
      margin-bottom: 20px;
    }
  }
}