.time-select-wrapper {
  padding: 0 20px;
  margin: 20px 0;

  .time-select-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    font-weight: 400;
    -webkit-animation: fadeIn 2;
    animation: fadeIn 2s;

    &:last-child {
      border: none;
    }

    .time-select-column {
      width: 50px;
      padding: 5px;
      font-size: 1.2em;
      border: 1px solid rgba(255, 255, 255, 0);
      margin-bottom: -2px;
    }

    .focused-time-select-column {
      color: $primary;
    }

    .hour-column {

    }

    .minutes-column {

    }

    .part-of-day-column {

    }
  }

  .before-time {
    .time-select-column {
      background: -webkit-linear-gradient($white, $dark-grey);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

    .focused-time-select-column {
      background: -webkit-linear-gradient($brightest-primary, $bright-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }

  .selected-time {
    font-size: 1.3em;

    .time-select-column {
      cursor: pointer;
    }
  }

  .after-time {
    .time-select-column {
      background: -webkit-linear-gradient($dark-grey, $white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

    .focused-time-select-column {
      background: -webkit-linear-gradient($bright-primary, $brightest-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }
}