@import 'controls/index';
@import 'selected-date/index';
@import 'items/index';

#discover-wrapper {
  #discover-content {
    position: relative;
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
  }
}
