.reset-password-wrapper {
  position: relative;
  font-size: 12pt;

  .reset-password {
    margin-top: 30px;

    .text {
      margin-bottom: 30px;
      text-align: center;
      color: $grey;
    }

    .validation {
      font-size: 14pt;
      color: red;
      margin: 10px;
      text-align: center;
    }

    .buttons {
      .dockit-button {
        width: 100%;
      }
    }
  }
}
