.add-comment {
  width: 100%;

  .create-comment-wrapper {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 4px;
    border: 1px solid $border-grey;

    .create-comment-inner-wrapper {
      padding: 10px;

      .left {
        float: left;

        .event-member-image-wrapper {
          width: 35px;
          height: 35px;

          @media (max-width: 480px) {
            width: 25px;
            height: 25px;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .comment-picture-upload-input {
          display: none !important;
        }

        .picture-upload-btn {
          display: block;
          width: 22px;
          height: 18px;
          padding: 2px;
          margin-right: 5px;
        }

        .create-comment-btn {
          background-color: $light-grey;
          border: none;
          width: 54px;
          height: 22px;
          font-size: 10pt;
          font-weight: 400;
          line-height: 22px;
          color: $white;
          border-radius: 16px;
          padding: 0;
          transition: all 0.2s ease-in-out;

          &:hover {
            cursor: default;
          }

          &:focus {
            border: 0 !important;
            outline: none;
          }
        }

        .active {
          background-color: $primary;

          &:hover {
            background-color: $dark-primary;
            cursor: pointer;
          }
        }

        .comment-area {
          margin: 0 10px;
          font-size: 14px;
          resize: none;
          width: 100%;
          border-radius: 4px;
          border: none;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .attached-image {
      margin: 5px;
      margin-bottom: 10px;
      padding: 10px;
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      position: relative;

      .remove {
        position: absolute;
        top: 5px;
        left: 24%;
        width: 19px;
        height: 19px;
        cursor: pointer;
      }

      img {
        max-width: 25%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

