.profile-upcoming {
  position: sticky;
  top: 80px;
  font-size: 11pt;
  padding: 10px 25px;
  width: 270px;
  max-height: 90%;
  overflow-y: auto;
  border: 1px solid $border-grey;
  border-radius: 3px;

  .header {
    text-align: center;
    font-weight: 500;
    margin: 0 0 5px 0;
  }

  .text {
    font-size: 10pt;
    color: $grey;
    text-align: center;
    margin: 10px 0;
    font-weight: 100;
    line-height: 13pt;

    .bold {
      font-weight: 400;
    }
  }

  .items {
    .day-header {
      font-size: 10pt;
      color: #4990E2;
      font-weight: 400;
      text-align: center;
      position: relative;
      z-index: 1;
      margin: 10px 0 5px 0;

      &:before {
        border-top: 1px solid $light-grey;
        content: '';
        position: absolute;
        margin: 0 auto;
        top: 50%; left: 0; right: 0; bottom: 0;
        z-index: -1;
      }

      span {
        background: $background-color;
        padding: 0 10px;
      }
    }

    .items-for-day {
      .item-wrapper {
        clear: both;

        .item {
          clear: both;
          overflow: hidden;
          margin-top: 13px;

          &:hover {
            cursor: pointer;
          }

          .image {
            float: left;
            margin: 0 auto;
            padding-top: 3px;

            img {
              width: 25px;
              height: 25px;
              border-radius: 25px;
            }
          }

          .content {
            float: left;
            margin-left: 5px;

            .title {
              color: $black;
              width: 150px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .location {
              color: $grey;
              font-size: 9pt;
              font-weight: 300;
              width: 150px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .right-content {
            float: right;
            text-align: right;

            .time {
              color: $black;
            }

            .status {
              font-size: 9pt;
              color: $grey;

              .going {
                color: #60b521;
              }

              .not-going {

              }

              .maybe {

              }
            }
          }

          .padding-top {
            padding-top: 5px;
          }

          .padding-top-x2 {
            padding-top: 10px;
          }
        }
      }

      .separator {
        font-size: 10pt;
        color: #4990E2;
        font-weight: 400;
        text-align: center;
        position: relative;
        z-index: 1;
        margin: 7px 0 0 0;

        &:before {
          border-top: 1px solid #F5F1F1;
          content: '';
          margin: 0 auto;
          position: absolute;
          top: 50%; left: 0; right: 0; bottom: 0;
          z-index: -1;
          width: 100%;
        }
      }
    }
  }
}

.tooltip-inner {
  overflow-wrap: break-word;
  font-weight: 300;
  background-color: white !important;
  color: $black;
  padding: 1em 1em;
  border: 1px solid $primary;

  .title {
    font-weight: 400;
  }
}

.tooltip.top .tooltip-arrow {
  border-top-color: $primary;
}
