.discover-tile {
  position: relative;
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid $border-grey;

  color: $grey;
  font-size: 15px;
  overflow: hidden;

  .discover-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .discover-image-container {
      width: 100%;

      .discover-image {
      }

      &:hover {
        cursor: pointer;
      }
    }

    .event-member-image-wrapper {
      text-align: center;
      z-index: 1;
      width: 80px;
      height: 80px;
      margin-top: -40px;

      @media (max-width: 991px) {
        width: 70px;
        height: 70px;
        margin-top: -35px;
      }

      @media (max-width: 630px) {
        width: 60px;
        height: 60px;
        margin-top: -30px;
      }

      .event-member-image-wrapper {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }

    .discover-info {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .details {
        width: 100%;
        padding: 10px 10px;

        .item-container {
          clear: both;
          overflow: hidden;

          .event-link, .schedule-link, .date, .time, .distance, .location-block, .location-block .location, .dock, .username-link {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .event-link, .schedule-link, .date-time-wrapper, .date, .time, .username-link {
            float: left;
          }

          .distance, .location-block, .dock {
            float: right;
          }

          .event-link, .schedule-link {
            max-width: calc(100% - 80px);
            font-size: 16px;
          }

          .date-time-wrapper {
            max-width: 50%;

            .time {
              font-size: 16px;
            }

            .date {

            }
          }

          .username-link {
            max-width: 75%;
          }

          .distance {
            text-align: right;
            width: 80px;
          }

          .location-block {
            max-width: 50%;
            text-align: right;
            color: $primary;
            font-size: 16px;

            &:hover {
              cursor: pointer;
              color: $dark-primary;
            }
          }

          .dock {
            padding-right: 0;
            margin-right: 0;

            .action {
              float: right;
              margin-top: 2px;
            }

            .counter {
              float: left;
              padding: 1px 5px 0 0;
              font-size: 14px;
              text-align: right;
            }
          }
        }
      }
    }
  }
}