$creation-description-lines-collapsed: 4;

.creation-info-description {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 18px;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /*Chrome & Safari */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;

  .creation-description-collapsed {
    overflow: hidden;
    display: -webkit-box;
    min-height: 1.35em;
    max-height: 5.4em;
  }

  .creation-info-description-arrow-wrapper {
    padding: 10px 0;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: $primary;
    }

    .creation-info-description-arrow {

    }
  }
}
