@import './time-select/index';

.dock-time-modal {
  .modal-dialog {
    max-width: 400px;

    .modal-content {
      border-radius: 13px !important;

      .modal-header {
        border-bottom: none;

        .modal-title {
          float: none !important;
          margin: 0 auto;
          font-size: 0.9em;
          max-width: 80%;
          text-align: center;
        }
      }

      .modal-body {
        .time-modal-content-wrapper {
          margin: 5px 0 10px 0;
          text-align: center;

          .time-line {
            font-weight: 400;
          }

          .time-select {

          }

          .buttons {
            margin: 10px 0 20px 0;

            .dockit-button-wrapper {
              .dockit-button {
                width: 120px;
              }
            }
          }

          .not-show {
            display: inline-block;
            color: $primary;

            &:hover {
              color: $dark-primary;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
