body {
  min-width: 350px;
  //overflow-y: scroll !important;
}

body.modal-open {
  //position: fixed !important;
  //overflow-y: scroll !important;
  //padding-right: 0 !important;
}

.navbar-brand {
  font-size: 25pt;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0 !important;

  @media (max-width: 767px) {
    margin: 0 !important;

    img {
      margin-left: 0 !important;
    }
  }

  img {
    max-height: 100%;
    margin-left: 15px;
  }
}

.navbar-search-box-container {
  display: inline-block;

  a {
    outline: none;
  }
}

.search-icon-container {
  position: relative;
  float: left;
  margin: 10px 10px 0 0;
  padding: 9px 0 9px 20px;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .content-container {
    margin-bottom: -66px;
    padding-top: 66px;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .content-container {
    margin-bottom: -60px;
    padding-top: 60px;
    height: 100%;
  }

  .navbar-tooltip {
    display: none;
  }
}

.navbar-tooltip {
  top: 45px;

  .tooltip-arrow {
    border-bottom-color: $primary !important;
  }
}

.navbar-item {
  display: inline-block;
}

.icon {
  .nav-item-icon {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
    }

    .icon-text {
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      line-height: 26px;
    }

    .notification-marker {
      width: 6px;
      height: 6px;
      position: absolute;
      right: -10px;
    }
  }
}

.in-dropdown-menu-item {
  display: none !important;
  
  @media (max-width: 767px) {
    display: block !important;
  }
}

.visible-xs-inline {
  padding-left: 10px;
}

.logout-button {
  color: $primary;
  line-height: 27px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $grey;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $grey;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $grey;
}

:-moz-placeholder { /* Firefox 18- */
  color: $grey;
}

.Select-placeholder {
  color: $grey;
}

.fa-stack {
  text-align: center;
}

.no-select {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/**
scrollbar styles
 */
::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background: transparent;
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: $scrollbar-background-color;
}

::-webkit-scrollbar-track-piece:vertical:start {
  border-radius: 5px 5px 0 0;
}
::-webkit-scrollbar-track-piece:vertical:end {
  border-radius: 0 0 5px 5px;
}
::-webkit-scrollbar-track-piece:horizontal:start {
  border-radius: 5px 0 0 5px;
}
::-webkit-scrollbar-track-piece:horizontal:end {
  border-radius: 0 5px 5px 0;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background: $scrollbar-color;
  border-radius: 5px;
  display: block;
  height: 50px;
}
