@import './variables-colors.scss';
@import './variables-media-queries.scss';
@import './variables-fonts.scss';

/******************************************************************************/
/****************************  GENERIC HTML/BODY  *****************************/
/******************************************************************************/

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  background-color: $background-color;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

%h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 200;

  %strong {
    font-weight: 300;
    color: $black;
  }

  &%strong {
    font-weight: 300;
    color: $black;
  }

  &.strong {
    @extend %strong;
  }

  .strong {
    @extend %strong;
  }
}

h4 {
  @extend %h4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: $black;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

div {
  box-sizing: border-box;
}

.no-wrapping-text {
  text-overflow: ellipsis;
  //white-space: nowrap;
  overflow: hidden;
}

.bright {
  color: $primary;
}

.dark {
  color: $black;
}

.gloomy {
  color: $grey;
}
