<html>
<head>
  <meta charset="utf-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="description" content="DockIt Calendar - Unlock your calendar’s true potential with the freedom to easily organize personal and group events and to share and discover trending experiences worldwide." />
  <meta content="dockit-icon.png" />
  <meta property="og:image" content="dockit-icon.png" />
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/launcher-icons/launcher-icon-4x.png">
  <link rel="manifest" href="pwa.webmanifest">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,600,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
  <link rel="canonical" href="https://dockitcalendar.com/">
  <title>DockIt</title>
</head>
<body>
<div id="root" class="dockit">
  <div class="loader-container">
    <img src="assets/images/loader.svg" />
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfi6KK0FaZzl8G3Uxh5D7iKjRNGzoq4WE"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('sw.js');
  }
</script>
</body>
</html>