@import 'bootstrap.css';

@import '~font-awesome/css/font-awesome.css';
@import '~react-select/dist/react-select.css';
@import '~loaders.css/src/animations/ball-scale';
@import '~react-input-range/lib/css/index.css';

@import 'common';
@import 'app';

@import 'shared-components/index';
@import 'views/index';

@import 'views/new-discover/index';

#root {
  width: 100%;
}

* {
  font-family: $primary-font;
}

.emoji {
  padding: 0 3px;

  &:first-child {
    padding: 0 3px 0 0;
  }
}

.loader-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: $white;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
  }
}

.right-navbar-wrapper {
  display: block;

  .add-event-icon {
    height: 25px;
    width: 25px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}
