$white: #FFFFFF;
$black: #000000;

$primary: #2A88F8;
$dark-primary: #2564C8;
$bright-primary: rgba(40, 143, 255, 0.90);
$brightest-primary: rgba(40, 143, 255, 0.10);

$error: #EE2019;

$red: #EE2019;
$dark-red: #a90009;

$green: #7ED321;
$dark-green: #4ea800;
$darkest-green: #338200;

$lightest-grey: #f5f5f5;
$middle-light-grey: #F1F1F1;
$light-grey: #E5E1E1;
$middle-grey: #B5B5B6;
$grey: #9B9B9B;
$dark-grey: #878787;
$border-grey: #e2e2e2;
$darkest-grey: #222;
$comment-border-grey: #dcdcdc;

$background-color: #fafafa;

$scrollbar-background-color: #f0f0f0;
$scrollbar-color: #cdd4d7;

$search-box-background: $background-color;
$search-box-focused-background: $white;
$search-results-background: $white;
