$primary-font: 'Roboto', sans-serif;

$font-size: 16px;
$line-height: 1.4;

$lines-to-show: 4;

$feed-item-font-size: 15px;
$feed-item-title-lines-to-show: 1;
$feed-item-creator-lines-to-show: 2;
$feed-item-line-height: 1.2;

$feed-comment-item-title-lines-to-show: 1;
$feed-comment-item-creator-lines-to-show: 2;

$event-description-lines-to-show: 7;

$feed-header-lines-to-show: 2;