$notification-font-size: 11pt;
$notification-line-height: 12pt;
$notification-lines-to-show: 2;

.hoverable {
  &:hover {
    cursor: pointer;
  }
}

.notification-item {
  border-bottom: 1px solid $light-grey;

  &:last-child {
    border-bottom: none;
  }

  .content {
    padding: 10px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .block {
      clear: both;
    }

    .inline {
      display: inline-block;
    }

    .image-container {
      margin: 5px;
    }

    .image {
      width: 30px;
      height: 30px;
      display: inline-block;
      border-radius: 20px;
    }

    .notification-data {
      font-size: 11pt;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      clear: both;
      overflow: hidden;

      .notification-text {
        display: block;
        display: -webkit-box;
        font-size: $notification-font-size;
        line-height: $notification-line-height;
        -webkit-line-clamp: $notification-lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
        color: $grey;
      }

      .time-ago {
        text-align: right;
        color: $grey;
        font-size: 12px;
        margin: 0 10px;
        min-width: fit-content;
      }
    }

    .right-block {
      float: right;
    }

    .left-block {
      float: left;
    }

    .location {
      font-size: 12pt;
    }

    .title {
      font-weight: 900;
    }

    .separated {
      margin: 20px 0 20px 0;
    }
  }
}