#discover-range-filter {
  color: $primary;
  font-size: 12pt;
  margin: 8px 0 5px 0;

  .range-label {
    float: left;
    margin-bottom: 10px;
  }

  .range-value {
    float: right;
    margin-bottom: 10px;
  }

  .scroll-wrapper {
    clear: both;
    overflow: visible;
    margin: 15px 0;

    .input-range__label {
      display: none;
    }

    .input-range__track--active {
      background: $primary;
    }

    .input-range__track--background {
      background: $middle-grey;
    }

    .input-range__slider {
      background: $white;
      border: 1px solid $light-grey;
      box-shadow: 0 0 2px 1px $light-grey;
      height: 2rem;
      width: 2rem;
      margin-left: -0.9rem;
      margin-top: -1.1rem;
    }
  }
}
