@import 'link-calendars-button/link-calendars-button';
@import 'link-calendars-button-mobile/link-calendars-button-mobile';

.upcoming {
  margin-top: 15px;

  .col-sm-1,
  .col-md-1,
  .col-lg-1 {
    float: left;
    width: 14.285714285714285714285714285714%;
  }

  .switcher {
    text-align: center;
    font-size: 14pt;
    font-weight: 400;
    color: $primary;

    @media (max-width: 767px) {
      padding: 10px 0 10px 0;
    }

    @media (max-width: 991px) {
      padding: 10px 0 20px 0;
    }

    .prev { }

    .text {
      display: inline-block;
      padding: 0 15px;
      width: 130px;
    }

    .next { }

    .arrow {
      padding: 10px;

      &:hover {
        cursor: pointer;
        color: $dark-primary;
      }
    }
  }

  .calendar-wrapper {
    flex-basis: 100%;

    .calendar-weekdays {
      margin-top: 5px;
      text-align: center;

      @media (max-width: 991px) {
        margin-top: 7px;
      }
    }

    .weekend {
      color: $grey;
    }

    .calendar {
      overflow: hidden;
      clear: both;
      border: 1px solid $border-grey;
      border-radius: 3px;
      background: white;
      margin-top: 20px;

      .title {
        margin: 5px 0;

        .month {
          font-weight: 400;
        }

        .year {
          font-weight: 100;
        }
      }

      @media (min-width: 64px) {
        .empty-col {
          width: 0;
          padding: 0;
        }

        .title {
          font-size: 14pt;
        }

        .static {
          padding-left: 10px;
        }
      }

      @media (min-width: 768px) {
        .empty-col {
          width: 14.285714285714285714285714285714%;
        }

        .title {
          font-size: 16pt;
        }

        .static {
          padding-left: 0;
        }
      }

      .add-margin {
        margin-left: 15px;
      }

      .last-day-of-week {
        margin: 9px 0;
        font-size: 1.2em;
      }

      .calendar-row {
        .calendar-item {
          border-top: 1px solid $light-grey;
          text-align: center;
          padding: 0;

          .date {
            margin: 10px auto;
            width: 28px;
            height: 28px;
            line-height: 28px;

            @media (min-width: 992px) {
              flex-basis: 100%;
            }
          }

          .active {
            background: $primary;
            border-radius: 30px;
            color: white;
          }

          &:hover {
            cursor: pointer;
          }
        }

        @media (min-width: 64px) {
          .calendar-item {
            height: 70px;

            .upcoming-exists-container {
              min-width: 28px;

              .circle {
                background: #D8D8D8;
                height: 10px;
                width: 10px;
                border-radius: 10px;
                margin: 0 auto;
              }
            }
          }
        }

        @media (min-width: 768px) {
          .calendar-item {
            height: 100px;
          }

          .four-weeks {
            height: 125px;
          }

          .six-weeks {
            height: 83px;
          }
        }

        .empty-item {
          border: none;

          &:hover {
            cursor: default;
          }
        }
      }
    }
  }

  .wide-day-items-wrapper {
    background-color: $white;
    position: relative;
    margin: 31px 0 0 50px;
    flex-basis: 50%;
    overflow-y: auto;
    max-height: 100%;
    border: 1px solid $border-grey;

    @media (max-width: 991px) {
      display: none;
    }
  }

  .upcoming-items-list {
    margin: 0 0 15px 0;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 12pt;

    @media (max-width: 991px) {
      border: 1px solid $border-grey;
    }

    .item {
      overflow: hidden;
      border-bottom: 1px solid rgb(229, 225, 225);

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        border: none;
      }

      .owner {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        float: left;
        margin: 25px 10px;
      }

      @media (min-width: 768px) {
        .owner {
          margin: 25px 15px;
        }
      }

      .by-user {
        background: $primary;
      }

      .by-other-user {
        background: #D0011B;
      }

      .content {
        float: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;

        .upcoming-item-title {
          color: $black;
          font-weight: 400;
        }

        .upcoming-item-location {
          color: $grey;
          font-size: 11pt;
        }

        .upcoming-list-data-item {
          width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @media (min-width: 992px) and (max-width: 1199px) {
            width: 150px;
          }

          @media (max-width: 991px) {
            width: 500px;
          }

          @media (max-width: 700px) {
            width: 350px;
          }

          @media (max-width: 600px) {
            width: 300px;
          }

          @media (max-width: 500px) {
            width: 250px;
          }

          @media (max-width: 400px) {
            width: 200px;
          }
        }
      }

      .time {
        float: right;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        margin-right: 10px;
        font-size: 11pt;

        .start {
          color: $black;
        }

        .end {
          color: $grey;
        }
      }
    }
  }

  .no-items {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0%, -50%);
    text-align: center;
    color: $grey;
    font-size: 12pt;
  }

  .link-calendars-button-visibility-container {
    display: none;
  }

  @media (max-width: 991px) {
    .link-calendars-button-visibility-container {
      display: block;
    }
  }

  .link-calendars-button-large-visibility-container {
    display: none;
    width: 150px;
    float: left;
    margin-top: 30px;
  }

  .mobile-day-items-wrapper {
    background-color: $white;
    position: relative;
    min-height: 30px;
  }

  @media (max-width: 991px) {
    .upcoming-inner-container {
      .calendar-upcoming-wrapper {
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 992px) {
    .link-calendars-button-large-visibility-container {
      display: block;
    }

    .upcoming-inner-container {
      margin-bottom: 20px;

      .calendar-upcoming-wrapper {
        display: flex;
      }
    }
  }

  .upcoming-link {
    color: $primary;
    margin-top: 10px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 0;
      float: left;
      position: absolute;
    }

    &:hover {
      cursor: pointer;
      color: $dark-primary;
    }
  }
}
