@import 'check-email/check-email';
@import 'forgot-password/forgot-password';
@import 'home/home';
@import 'login/login';
@import 'reset-password/reset-password';
@import 'signup/signup';
@import 'success/success';

.unauth-top-container {
  .top-container {
    position: relative;

    .top {
      margin: 13px;
      z-index: 9;

      .brand {
        text-align: center;

        &:hover {
          cursor: pointer;
        }

        img {
          width: 180px;
        }
      }

      .buttons {
        visibility: collapse;

        .dockit-button-wrapper {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
