.profile-settings {
  font-size: 12pt;

  .title {
    text-align: center;
    font-weight: 500;
    margin: 20px 0 20px 0;
  }

  .save {
    color: $black;
    text-align: center;
    font-weight: 400;
    margin: 15px 0 15px 0;

    .save-btn {
      &:hover {
        cursor: pointer;
        color: $dark-primary;
      }
    }
  }

  .logout {
    color: $primary;
    text-align: center;
    font-weight: 400;
    margin: 15px 0 15px 0;

    .logout-btn {
      &:hover {
        cursor: pointer;
        color: $dark-primary;
      }
    }
  }

  .delete-account {
    color: #d42409;
    text-align: center;
    font-weight: 400;
    margin: 15px 0 25px 0;

    .delete-btn {
      &:hover {
        cursor: pointer;
        color: #9f1d08;
      }
    }
  }

  .background-image {
    #title-image {
      cursor: pointer;
      width: 100%;
    }

    #upload-input {
      display: none !important;
    }

    .no-padding {
      padding: 0 !important;
    }

    .no-margin {
      margin: 0 !important;
    }
  }

  .item {
    margin: 0 15px;
  }

  .with-separators {
    .item {
      border-bottom: 1px solid $light-grey;
    }

    .item:last-child {
      border-bottom: none;
    }
  }

  .privacy {
    margin: 0;
  }

  .profile-image-upload {
    margin: 15px 0 15px 0;
    text-align: center;

    #upload-input {
      display: none !important;
    }

    #profile-image {
      cursor: pointer;
      width: 50%;
      border-radius: 1000px;
    }

    .no-padding {
      padding: 0 !important;
    }

    .no-margin {
      margin: 0 !important;
    }
  }

  .my-account {
    .change-password {
      input[type='button'] {
        letter-spacing: 0;
        padding: 7px 0;
      }
    }

    .password-change {
      .toggle {
        padding: 8px 0;
      }

      .save {
        border-radius: 50px;
        padding: 6px 30px;
        margin: 10px 0;
      }
    }
  }

  .additional-services {
    .alerts-wrapper {
      .chevron-wrapper {
        padding: 4px 0 4px 10px;
      }
    }
  }
}
