.comments-block {
  width: 100%;
  margin-bottom: 20px;

  .view-comment {
    width: 100%;
    transition: background-color 1s linear;
  }

  .target-comment {
    background: lightyellow;
    transition: background-color 1s linear;
  }
}