@import 'post/index';

$border-radius: 0px;

.posts-drilldown {
  position: relative;
  min-height: 100%;
  width: 100%;
  font-size: 1em;
  height: fit-content;

  @media (min-width: $posts-min-width) {
    width: $posts-width;
    margin: 0 auto;
    min-height: 0;
    border-radius: $border-radius;
  }

  .posts-root {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  #post-answers {
    border-top: 10px solid $background-color !important;
  }

  .add-comment {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: inherit;

    @media (min-width: $posts-min-width) {
      border-right: none;
      border-left: none;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .create-comment-wrapper {
      border-right: none;
      border-left: none;
      border-bottom: none;
      border-radius: 0;
    }
  }
}
