.key-icon-wrapper {
  text-align: center;
  margin-bottom: 30px;

  img {
    width: 80px;

    @media (min-width: 900px) {
      width: 90px;
    }

    @media (min-width: 1200px) {
      width: 100px;
    }
  }
}
