#discover-hashtag-search-wrapper {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  #discover-hashtag-search {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;
    color: $primary;
    padding: 8px 0;
    font-size: 16px;

    &::-webkit-input-placeholder { color: $primary; }
    &::-moz-placeholder          { color: $primary; }
    &:-ms-input-placeholder      { color: $primary; }

    &:focus {
      outline: none;
    }
  }
}

.filters-hidden {
  margin-top: 20px !important;
}
